<ul class="list-inline">
{if isset($item.votes_up)}
	<li class="list-inline-item">
		<a href="#" post_type="{if isset($model)}{$model}{else}{$event.model}{/if}" id="likePostBtn" post_id="{$item.id}" title="{lang->get key='Likes'}" class="text-xs-center" 
		   style="text-decoration:none;">
			<span id="likePostCnt{$item.id}">{$item.votes_up}</span><i style="padding: 0 5px 0 5px;" class="fa fa-thumbs-up"></i> 
		</a>
	</li>
{/if}
{if isset($item.votes_down)}	
	<li class="list-inline-item">
		<a href="#" post_type="{if isset($model)}{$model}{else}{$event.model}{/if}" id="dislikePostBtn" post_id="{$item.id}" title="{lang->get key='DisLikes'}" class="text-xs-center" 
		   style="text-decoration:none;color:red;">
			<span id="dislikePostCnt{$item.id}">{$item.votes_down}</span><i style="padding: 0 5px 0 5px;" class="fa fa-thumbs-down"></i> 
		</a>
	</li>
{/if}
{if isset($item.comments)}	
	<li class="list-inline-item">
		<a href="#" post_type="{if isset($model)}{$model}{else}{$event.model}{/if}" id="commentPostBtn" post_id="{$item.id}" title="{lang->get key='Comments'}" class="text-xs-center"
		   style="text-decoration:none;">
			<span id="commentPostCnt{$item.id}">{$item.comments}</span><i style="padding: 0 5px 0 5px;" class="fa fa-comment"></i>
		</a>
	</li>
{/if}	
{if isset($item.favorites)}
<li class="list-inline-item">
	<a href="javascript:void(0);" post_type="{if isset($model)}{$model}{else}{$event.model}{/if}" {if $item.user_id!=$currentUser.id}} id="favorPostBtn" {/if} post_id="{$item.id}" title="{lang->get key='Favorites'}" class="text-xs-center"
	   style="text-decoration:none;{if isset($favor[$item.id])}color:gold;{/if}">
		<span id="favorPostCnt{$item.id}">{$item.favorites}</span><i style="padding: 0 5px 0 5px;" class="fa fa-star"></i>
	</a>
</li>
{/if}	
	<!--li class="list-group-item"><a href="#" class="text-xs-center"><i class="fa fa-mail-forward"></i> Share</a></li-->
</ul>
{literal}
<script type="text/javascript">
$( document ).ready(function() {
	
});
</script>
{/literal}