<ul class="bow afa" style="padding-top:15px;">
  {if isset($tree)}
  {foreach from=$tree item=item key=k}
  <li class="rv b cj">
	<img
	  class="us bos vb yb aff"
	  src="{$autors[$item.user_id].fotoprof}">
	<div class="rw">
	<small class="axc acx">{$item.created_at}	{if $item.user_id==$currentUser.id}<a href="#" event_id="{$event_id}" comment_id="{$item.id}" id="delCommentBtn">X</a>{/if}</small>
	  <strong style="font-weight: bold;">{$autors[$item.user_id].first_name} {$autors[$item.user_id].last_name}: </strong>
	  {$item.text}
	</div>
  </li>
  {/foreach}
  {/if}
  <li class="rv b agz">
	  <div class="input-group">
	  <textarea id="commentText{$event_id}" class="form-control" placeholder="Message"></textarea>
		
		<div class="bpt">
		  <button event_id="{$event_id}" event_type="{$event_type}" id="addCommentBtn" type="button" class="cg yf btn btn-primary">
			<i class="fa fa-paper-plane" aria-hidden="true" style="padding: 0 5px 0 0;display:inline;"></i>
		  </button>
		</div>
	  </div>
	</li>
</ul>
