 <div class="qf"></div>
<div class="qa avz">
  <a href="#">
	<img
	  class="bpj"
	  src="{$currentUser.fotoprof}">
  </a>

	<form enctype="multipart/form-data" action="/?action=dkz/settings/upload" method="post" id="uploadUserImagesForm">
		<div class="form-group">
			<div class="custom-file">
				<input type="file" name="avatar" class="custom-file-input" id="customFile">
				<label style="text-align: left;" class="custom-file-label" for="customFile">{lang->get key='Upload avatar'}</label>
			</div>
		</div>
	
	<button  type="submit"  class="btn btn-primary float-right">{lang->get key='Save'}</span></button>
		<div class="py-4"></div>
	</form>	
</div> 
 