<div class="form-group row">
	<label class="col-sm-4 col-form-label" for="inputCountry">{lang->get key='Country'}</label>
	<div class="col-sm-8">
		<select id="inputCountry" class="form-control" name="country" tpl_reg_type="{$tpl_reg_type}"
		{if $country!='custom'}required="required"{/if} 
		>
			<option disabled="true" selected="true">{lang->get key='Country'}</option>
			{foreach from=$countries item=name key=id}
			<option {if $country==$id}selected="true"{/if} value="{$id}">{$name}</option>
			{/foreach}
			<option value="custom">{lang->get key='Other...'}</option>
		</select>
		<input 
		{if $country=='custom'}required="required"{/if} 
		{if $country!='custom'}style="display:none;"{/if} 
		id="inputCountry" class="form-control input_county_{$tpl_reg_type}" name="country_custom" value="{if isset($user[$tpl_reg_type].country_custom)}{$user[$tpl_reg_type].country_custom}{/if}" 
		placeholder="{lang->get key='Enter country'}" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{3,20}{/literal}" type="text">
	</div>
</div>

