<div class="card gedf-card" style="width: 100%;">
	<div class="card-header">
		<h6 data-toggle="collapse" data-target="#collapseProduct" aria-expanded="false" aria-controls="collapseProduct" style="cursor:pointer;">+ {lang->get key='Add product'}</h6>
	</div>
	<div class="collapse" id="collapseProduct">
	
	<div class="card-body">
		<form enctype="multipart/form-data" id="sendPostForm" >
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="inputtype">{lang->get key='Type'}</label>
					<div class="col-sm-8">	
						<select name="type" id="inputtype" class="form-control {if isset($errors.type)}is-invalid{/if}">
							<option value="prodaga">{lang->get key='Sale'}</option>
							<option value="zakupka">{lang->get key='Purchase'}</option>
						</select>
						<div id="err_inputtype" class="invalid-feedback"></div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="inputcategory">{lang->get key='Product category'}</label>
					<div class="col-sm-8">	
						<select name="category" id="inputcategory" class="form-control {if isset($errors.category)}is-invalid{/if}">
							{foreach from=$categories_product item=item key=k}
							<option value="{$item.id}">{$item.title}</option>
							{/foreach}
						</select>
						<div id="err_inputcategory" class="invalid-feedback"></div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="inputname_seo">{lang->get key='Product name'}</label>
					<div class="col-sm-8">
						<input name="name_seo" id="inputname_seo" class="form-control {if isset($errors.name_seo)}is-invalid{/if}"  placeholder="">
						<div id="err_inputname_seo" class="invalid-feedback"></div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="inputabout">{lang->get key='Manufactured'}</label>
					<div class="col-sm-8">
						<input name="about" id="inputabout" class="form-control {if isset($errors.name_seo)}is-invalid{/if}"  placeholder="">
						<div id="err_inputabout" class="invalid-feedback"></div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="inputprice">{lang->get key='Price'}</label>
					<div class="col-sm-8">
						<input name="price" id="inputprice" class="form-control {if isset($errors.price)}is-invalid{/if}" pattern="{literal}[0-9]{1,13}{/literal}" placeholder="">
						<div id="err_inputprice" class="invalid-feedback"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="customFile">
						<label class="custom-file-label" for="customFile">{lang->get key='Upload image'}</label>
					</div>
				</div>
		</form>
		<button type="button" id="sendPostBtn" post_type="product" class="btn btn-primary float-right">
		<i class="fa fa-paper-plane"aria-hidden="true" style="padding: 0 5px 0 0;display:inline;"></i><span style="display:inline;">{lang->get key='share'}</span></button>
	<div class="py-4"></div>
	</div>
	</div>
</div>
<!-- Post /////-->