<div class="card gedf-card" style="width: 100%;">
	<div class="card-header">
		<h6 data-toggle="collapse" data-target="#collapseTransport" aria-expanded="false" aria-controls="collapseTransport" style="cursor:pointer">+ {lang->get key='Add transport request'}</h6>
	</div>
	<div class="collapse" id="collapseTransport">
	<div class="card-body">
		<form id="sendPostForm">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputTType">{lang->get key='Type of transport'}</label>
				<div class="col-sm-8">	
					<select name="type" id="inputTType" class="form-control {if isset($errors.ctype)}is-invalid{/if}">
					<option>морской транспорт</option>
					<option>грузовой транспорт</option>
					<option>железнодорожный транспорт</option>
					<option>авиа транспорт</option>
					<option>легковой транспорт</option></select>
					<div id="err_inputTType" class="invalid-feedback"></div>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputtiptr">{lang->get key='Nature of cargo'}</label>
				<div class="col-sm-8">
					<input name="desc" id="inputdesc" class="form-control {if isset($errors.tiptr)}is-invalid{/if}"  placeholder="">
					<div id="err_inputdesc" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputves">{lang->get key='Cargo weight'}</label>
				<div class="col-sm-8">
					<input name="ves" id="inputves" class="form-control {if isset($errors.ves)}is-invalid{/if}" pattern="^[ 0-9]+$" placeholder="">
					<div id="err_inputves" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputotkuda">{lang->get key='From place'}</label>
				<div class="col-sm-8">
					<input name="otkuda" id="inputotkuda" class="form-control {if isset($errors.otkuda)}is-invalid{/if}" placeholder="">
					<div id="err_inputotkuda" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputkuda">{lang->get key='To place'}</label>
				<div class="col-sm-8">
					<input name="kuda" id="inputkuda" class="form-control {if isset($errors.kuda)}is-invalid{/if}" placeholder="">
					<div id="err_inputkuda" class="invalid-feedback"></div>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputdedline">{lang->get key='Date of delivery'}</label>
				<div class="col-sm-8">
					<input name="dedline" id="inputdedline" class="form-control {if isset($errors.dedline)}is-invalid{/if}" placeholder="">
					<div id="err_inputdedline" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputprice">{lang->get key='Price'}</label>
				<div class="col-sm-8">
					<input name="price" id="inputprice" class="form-control {if isset($errors.price)}is-invalid{/if}" pattern="{literal}[0-9]{1,13}{/literal}" placeholder="">
					<div id="err_inputprice" class="invalid-feedback"></div>
				</div>
			</div>
		</form>
		<button type="button" id="sendPostBtn" post_type="transport" class="btn btn-primary float-right">
		<i class="fa fa-paper-plane"aria-hidden="true" style="padding: 0 5px 0 0;display:inline;"></i>
		<span style="display:inline;">{lang->get key='share'}</span></button>
	<div class="py-4"></div>
	</div>
	</div>


</div>
{literal}
<script type="text/javascript">
		$('#inputdedline').datepicker({
            uiLibrary: 'bootstrap4'
        });
</script>
{/literal}