<div class="card gedf-card" style="width: 100%;">
	<div class="card-header">
		<h6 data-toggle="collapse" data-target="#collapseCustoms" aria-expanded="false" aria-controls="collapseCustoms" style="cursor:pointer">+ {lang->get key='Add customs request'}</h6>
	</div>
	<div class="collapse" id="collapseCustoms">
	<div class="card-body">
		<form id="sendPostForm">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputCType">{lang->get key='Customs type'}</label>
				<div class="col-sm-8">	
					<select name="type" id="inputCType" class="form-control {if isset($errors.ctype)}is-invalid{/if}"><option>импорт</option><option>экспорт</option></select>
					<div id="err_inputCType" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputTType">{lang->get key='Type of transport'}</label>
				<div class="col-sm-8">
					<input name="vidtr" id="inputTType" class="form-control {if isset($errors.ttype)}is-invalid{/if}" placeholder="">
					<div id="err_inputTType" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputdesc">{lang->get key='Nature of cargo'}</label>
				<div class="col-sm-8">
					<input name="desc" id="inputdesc" class="form-control {if isset($errors.desc)}is-invalid{/if}"  placeholder="">
					<div id="err_inputdesc" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputves">{lang->get key='Cargo weight'}</label>
				<div class="col-sm-8">
					<input name="ves" id="inputves" class="form-control {if isset($errors.ves)}is-invalid{/if}" pattern="^[ 0-9]+$" placeholder="">
					<div id="err_inputves" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputdedline">{lang->get key='Date of delivery'}</label>
				<div class="col-sm-8">
					<input name="dedline" id="inputdedline" class="form-control {if isset($errors.dedline)}is-invalid{/if}" placeholder="">
					<div id="err_inputdedline" class="invalid-feedback"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputprice">{lang->get key='Service cost'}</label>
				<div class="col-sm-8">
					<input name="price" id="inputprice" class="form-control {if isset($errors.price)}is-invalid{/if}" pattern="{literal}[0-9]{1,13}{/literal}" placeholder="">
					<div id="err_inputprice" class="invalid-feedback"></div>
				</div>
			</div>
		</form>
		<button type="button" id="sendPostBtn" post_type="customs" class="btn btn-primary float-right"><i class="fa fa-paper-plane"aria-hidden="true" style="padding: 0 5px 0 0;display:inline;"></i>
		<span style="display:inline;">{lang->get key='share'}</span></button>
	<div class="py-4"></div>
	</div>
	</div>


</div>
{literal}
<script type="text/javascript">
		$('#inputdedline').datepicker({
            uiLibrary: 'bootstrap4'
        });
</script>
{/literal}