<div class="card gedf-card" style="width: 100%;">
	<div class="card-body">
	<form enctype="multipart/form-data" id="sendPostForm">
		<div class="form-group">
			<label class="sr-only" for="message">{lang->get key='post'}</label>
			<textarea name="news" class="form-control" id="message" rows="3" placeholder="What are you thinking?"></textarea>
		</div>
		<div class="form-group">
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="customFile">
				<label class="custom-file-label" for="customFile">{lang->get key='Upload image'}</label>
			</div>
		</div>
		
	</form>	
	<button  type="button" id="sendPostBtn" post_type="{$event.model}" class="btn btn-primary float-right">
	<i class="fa fa-paper-plane"aria-hidden="true" style="padding: 0 5px 0 0;display:inline;"></i>
	<span style="display:inline;">{lang->get key='share'}</span></button>
	<div class="py-4"></div>
	</div>
</div>
<!-- Post /////-->