<div class="card gedf-card" style="width: 100%;">
	<div class="card-header">
		<h6 data-toggle="collapse" data-target="#collapseIdea" aria-expanded="false" aria-controls="collapseIdea" style="cursor:pointer;">+ {lang->get key='Add media'}</h6>
	</div>
	<div class="collapse" id="collapseIdea">
	
	<div class="card-body">
		<form enctype="multipart/form-data" id="sendPostForm">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" for="inputcat">{lang->get key='Category'}</label>
				<div class="col-sm-8">	
					<select name="cat" id="inputcat" class="form-control {if isset($errors.cat)}is-invalid{/if}">
						<option>Коммерческие</option>
						<option>Социальные</option>
						<option>Научные</option>
						<option>Культурные</option>
						<option>Образовательные</option>
						<option>Развлекательные</option>
						<option>Информационные</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="customFile">
					<label class="custom-file-label" for="customFile">{lang->get key='Upload image'}</label>
				</div>
			</div>
		</form>
		<button type="button" id="sendPostBtn" post_type="media" class="btn btn-primary float-right">
		<i class="fa fa-paper-plane"aria-hidden="true" style="padding: 0 5px 0 0;display:inline;"></i><span style="display:inline;">{lang->get key='share'}</span></button>
		<div class="py-4"></div>
	</div>
	</div>
</div>
<!-- Post /////-->