<div class="form-group row" id="selectCityBlock" style="display:none;">
	<label class="col-sm-4 col-form-label" for="inputCity">{lang->get key='City'}</label>
	<div class="col-sm-8">
	<span id="cityContainer">
		{include file='boxes/select.cities.html'}
	</span>	
		<input 
		{if $city=='custom'}required="required"{/if} 
		{if $city!='custom'}style="display:none;"{/if} 
		id="inputCity" class="form-control input_city_{$tpl_reg_type}" name="city_custom" value="{if isset($user[$tpl_reg_type].city)}{$user[$tpl_reg_type].city}{/if}" 
		placeholder="{lang->get key='Enter city'}" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{3,20}{/literal}" type="text">
	</div>
</div>