<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	 
	 <li class="nav-item {if $event.model=='mynews'}active {/if}">
		<a class="nav-link" href="/?action=dkz/office&event=cabinet">
		  <i class="fa fa-fw fa-address-card-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='My cabinet'}</span></a>
	  </li>
	  <li class="nav-item {if $event.model=='forumnews'}active {/if}">
		<a class="nav-link" href="/?action=dkz/office">
		  <i class="fa fa-fw fa-forumbee" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='My forum posts'}</span></a>
	  </li>
	  <li class="nav-item {if $event.model=='vizitki'}active {/if}">
		<a class="nav-link" href="/?action=dkz/office&event=media">
		  <i class="fa fa-fw fa-user-circle-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='My media'}</span></a>
	  </li>
	 <li class="nav-item {if $event.model=='product'}active {/if}">
		<a class="nav-link" href="/?action=dkz/office&event=shopping">
		  <i class="fa fa-fw fa-shopping-basket" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='My products'}</span></a>
	  </li>
	 <li class="nav-item {if $event.model=='custom'}active {/if}">
		<a class="nav-link" href="/?action=dkz/office&event=customs">
		  <i class="fa fa-fw fa-briefcase" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='My customs requests'}</span></a>
	  </li>
	 <li class="nav-item {if $event.model=='transport'}active {/if}">
		<a class="nav-link" href="/?action=dkz/office&event=transport">
		  <i class="fa fa-fw fa-truck" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='My transport requests'}</span></a>
	  </li>
	  
 <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
	<button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
{literal}
<style>	  
.sidebar-dark .nav-item.active .nav-link {
    color: #3a3b45;
}
</style>	
{/literal}  
  
	<!--li class="pi {if $event.model=='vizitki'} active{/if}"><a ><i class="fa fa-user-circle-o" aria-hidden="true" style="padding:0 5px 0 0;display:inline;"></i><h6 style="display:inline;" class="aej">My Ideas</h6></a>
	<li><a href="/?action=dkz/office&event=shopping"><i class="fa fa-shopping-basket" aria-hidden="true" style="padding:0 5px 0 0;display:inline;"></i><h6 style="display:inline;" class="aej">My products</h6></a>
	<li><a href="/?action=dkz/office&event=customs"><i class="fa fa-briefcase" aria-hidden="true" style="padding:0 5px 0 0;display:inline;"></i><h6 style="display:inline;" class="aej"></h6></a>
	<li><a href="/?action=dkz/office&event=transport"><i class="fa fa-truck" aria-hidden="true" style="padding:0 5px 0 0;display:inline;"></i><h6 style="display:inline;" class="aej"></h6></a-->
