<div class="card gedf-card" style="width: 100%;">
	<div class="card-header">
		<h6 data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="cursor:pointer;">+ {lang->get key='Filter'}</h6>
	</div>
	<div class="collapse" id="collapseFilter">
	
	<div class="card-body">
	<form method="get" action="" id="sendPostForm" >
<input type="hidden" name="action" value="dkz/shopping/">
<input type="hidden" name="filter" value="yep">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="inputtype">{lang->get key='Type'}</label>
					<div class="col-sm-8">	
						<select name="type" id="inputtype" class="form-control">
							<option value="">{lang->get key='Any'}</option>
							<option {if isset($smarty.get.type) && $smarty.get.type=='prodaga'}selected="selected"{/if} value="prodaga">{lang->get key='Sale'}</option>
							<option {if isset($smarty.get.type) && $smarty.get.type=='zakupka'}selected="selected"{/if} value="zakupka">{lang->get key='Purchase'}</option>
						</select>
						
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="inputcategory">{lang->get key='Product category'}</label>
					<div class="col-sm-8">	
						<select name="category" style="width:100%;" id="inputcategory" class="form-control">
						<option value="">{lang->get key='Any'}</option>
							{foreach from=$categories_product item=item key=k}
							<option  {if isset($smarty.get.category) && $smarty.get.category==$item.id}selected="selected"{/if} value="{$item.id}">{$item.title}</option>
							{/foreach}
						</select>
						
					</div>
				</div>
	<div class="form-group row">	
	<div class="col-sm-8">
	</div>
	<div class="col-sm-4">
	<button type="submit" class="btn btn-primary float-right">{lang->get key='Filtered'}!</button>	
	</div>
	
	</div>	
</form>			
	</div>
	</div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
{literal}
<script type="text/javascript">
$(document).ready(function() {
    $('#inputcategory').select2();
});
</script>
{/literal}