<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	 <li class="nav-item {if isset($smarty.get.type) && $smarty.get.type=='импорт'}active {/if}">
		<a class="nav-link" href="/?action=dkz/customs&type=импорт">
		  <i class="fa fa-fw fa-briefcase" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Import'}</span></a>
	  </li>
	 <li class="nav-item {if isset($smarty.get.type) &&  $smarty.get.type=='экспорт'}active {/if}">
		<a class="nav-link" href="/?action=dkz/customs&type=экспорт">
		  <i class="fa fa-fw fa-briefcase" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Export'}</span></a>
	  </li>
<!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
	<button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
{literal}
<style>	  
.sidebar-dark .nav-item.active .nav-link {
    color: #3a3b45;
}
</style>	
{/literal}  
  
	