<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	 <li class="nav-item {if isset($smarty.get.type) && $smarty.get.type=='Коммерческие'}active {/if}">
		<a class="nav-link" href="/?action=dkz/media&type=Коммерческие">
		  <i class="fa fa-fw fa-user-circle-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Commercial'}</span></a>
	  </li>
	 <li class="nav-item {if isset($smarty.get.type) &&  $smarty.get.type=='Социальные'}active {/if}">
		<a class="nav-link" href="/?action=dkz/media&type=Социальные">
		  <i class="fa fa-fw fa-user-circle-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Social'}</span></a>
	  </li>
	 <li class="nav-item {if isset($smarty.get.type) &&  $smarty.get.type=='Научные'}active {/if}">
		<a class="nav-link" href="/?action=dkz/media&type=Научные">
		  <i class="fa fa-fw fa-user-circle-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Scientific'}</span></a>
	  </li>
	 <li class="nav-item {if isset($smarty.get.type) &&  $smarty.get.type=='Культурные'}active {/if}">
		<a class="nav-link" href="/?action=dkz/media&type=Культурные">
		  <i class="fa fa-fw fa-user-circle-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Cultural'}</span></a>
	  </li>
	 <li class="nav-item {if isset($smarty.get.type) &&  $smarty.get.type=='Образовательные'}active {/if}">
		<a class="nav-link" href="/?action=dkz/media&type=Образовательные">
		  <i class="fa fa-fw fa-user-circle-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Educational'}</span></a>
	  </li>
	 <li class="nav-item {if isset($smarty.get.type) &&  $smarty.get.type=='Развлекательные'}active {/if}">
		<a class="nav-link" href="/?action=dkz/media&type=Развлекательные">
		  <i class="fa fa-fw fa-user-circle-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Entertaining'}</span></a>
	  </li>
	 <li class="nav-item {if isset($smarty.get.type) &&  $smarty.get.type=='Информационные'}active {/if}">
		<a class="nav-link" href="/?action=dkz/media&type=Информационные">
		  <i class="fa fa-fw fa-user-circle-o" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{lang->get key='Informational'}</span></a>
	  </li>
	 
	  
 <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
	<button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
{literal}
<style>	  
.sidebar-dark .nav-item.active .nav-link {
    color: #3a3b45;
}
</style>	
{/literal}  
  
	