<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	{foreach from=$types item=type key=k}
	 <li class="nav-item {if isset($smarty.get.type) && $smarty.get.type==$k}active {/if}">
		<a class="nav-link" href="/?action=dkz/transport&type={$k}">
		  <i class="fa fa-fw fa-truck" style="padding:0 5px 0 0;display:inline;"></i>
		  <span>{$type}</span></a>
	  </li>
	{/foreach}
<!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
	<button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
{literal}
<style>	  
.sidebar-dark .nav-item.active .nav-link {
    color: #3a3b45;
}
</style>	
{/literal}  
  
	