 <small class="acx axc">
	 <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0;">
	  <ul class="list-inline linkspost">
		<li class="list-inline-item">
		
			<a class="" style="padding-top: 0px;" 
			href="{if isset($model)}/?action=dkz/post/&model={$model}&post={$item.id}{else}javascript:void(0);{/if}">
			{if isset($model)}
			{if $model=='mynews' || $model=='forumnews'}	
				{$item.time_news|date_format}
			{else}
				{$item.vremya|date_format}	
			{/if}	
			{/if}	
			{if isset($event.model)}
				{if $event.model=='mynews' || $event.model=='forumnews'}	
					{$item.time_news|date_format}
				{else}
					{$item.vremya|date_format}	
				{/if}	
			{/if}	
			</a>
		
			
		</li>
		<li class="list-inline-item dropdown">
			<a class="dropdown-dkz" style="padding-top: 0;" href="#" data-toggle="collapse" data-target="#linksDD{$item.id}" id="navbarDropdownMenuLink{$item.id}" aria-expanded="true">
			  <span class="h bbr axc aey yb"></span>
			</a>
			<div class="dropdown-menu" id="linksDD{$item.id}" aria-labelledby="navbarDropdownMenuLink{$item.id}">
			  
		{if isset($event)}	
			 <a class="dropdown-item" id="accesModal" tp="post" post_type="{$event.model}" item_id="{$item.id}" access="{$item.access}" href="#">{lang->get key='Access'}</a>
			 <a class="dropdown-item" id="delPostBtn" tp="post" post_type="{$event.model}" item_id="{$item.id}" href="#">{lang->get key='Delete'}</a>
		{/if}
		{if isset($model)} 
			 {if $item.user_id!=$currentUser.id}
			 <a class="dropdown-item" id="claimModal" tp="post" post_type="{$model}" item_id="{$item.id}" access="{$item.access}" href="#">{lang->get key='Claim'}</a>
			{/if}	
			{if $item.user_id==$currentUser.id}
			<a class="dropdown-item" id="accesModal" tp="post" post_type="{$model}" item_id="{$item.id}" access="{$item.access}"  href="#">{lang->get key='Access'}</a>
			<a class="dropdown-item" id="delPostBtn" tp="post" post_type="{$model}" item_id="{$item.id}" href="#">{lang->get key='Delete'}</a>
			{/if}
		{/if}
			</div>
		</li>
      </ul>
	 </nav>
 </small>