	<ul class="bow bpc">
{foreach from=$dialog item=item key=k}	
{if $item.from_user==$currentUser.id}
	  <li class="rv bpf afo" style="
    width: 60%; 
     float: right; 
">
		<div class="rw">
		  <div class="bpd">
			{$item.message}
		  </div>
		  <div class="bpe">
			<small class="axc">
			  <a href="#">{$currentUser.first_name}</a> {$item.time_message|date_format}
			</small>
		  </div>
		</div>
		<img class="us bos vb yb afi" src="{$currentUser.fotoprof}">
	  </li>
{else}
	  <li class="rv afo" style="
    width: 60%; 
     float: left; 
">
		<img class="us bos vb yb aff" src="{$dialoger.fotoprof}">
		<div class="rw">
		  <div class="bpd">
		   {$item.message}
		  </div>
		  
		  <div class="bpe">
			<small class="axc">
			  <a href="#">{$dialoger.first_name}</a> {$item.time_message|date_format}
			</small>
		  </div>
		</div>
	  </li>
{/if}	  
{/foreach}
	</ul>