<div class="bow cj ca  axw" style="max-height: 350px !important;width: 100%;">
{foreach from=$contacts item=item key=k}
<a href="/?action=dkz/message&to={$item.id}" to="{$item.id}" id="getDialog" class="b rx">
  <div class="rv">
	<img class="us bos vb yb aff" src="{$item.fotoprof}">
	<div class="rw">
	
	  <strong>
		{if isset($whoOnline[$item.id])}
		<span aria-label="Сейчас в сети" style="background: rgb(66, 183, 42) none repeat scroll 0% 0%; border-radius: 50%; display: inline-block; height: 6px; margin-right: 4px; margin-top:20px; width: 6px;"></span>
		{/if}
	  {$item.first_name}</strong>
	  <br/>
	  {if $item.type=='comp'}
	  <strong>{$item.company_name}</strong>
	  {else}
	  <strong>{$item.activity}</strong>
	  {/if}
	  
	  <div class="bpg">
		{$messages[$item.id].msg}
		<span class="badge badge-success badge-isset-new-msg" id="badge-isset-new-msg{$item.id}" style="{if $messages[$item.id].s!=1}display:none;{/if}">&nbsp;</span>
	  </div>
	</div>
  </div>
</a>
{/foreach}

</div>