
          

          <div class="rw">
          <small class="axc acx">{$item.date}</small>
            <div class="bpb">
              <a href="{$item.who.link}"><strong>{$item.who.name}</strong></a> {$item.action}
            </div>
			<div class="pz aew">
              <div class="qa">
                <div class="rv">
                  <!--img class="bos us aff yb" src="../assets/img/avatar-fat.jpg"-->
                  <div class="rw">
				  {if $item.event_type=='product'}
				    <div class="bpd">
                      <!--div class="bpb">
                        <small class="acx axc">1 hr</small>
                        <h6>Jacob Thornton</h6>
                      </div-->
                       {$item.event.name_seo}, {$item.event.price} UAH
                    </div>
					{if $item.event.image}	
					<div class="boy" data-grid="images"><img style="display: inline-block; width: 522px; height: 506px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;" data-width="640" data-height="640" data-action="zoom" src="{$item.event.image}"></div>
					{/if}
				  {/if}
				  {if $item.event_type=='vizitki'} 
				    <div class="bpd">
                      <!--div class="bpb">
                        <small class="acx axc">1 hr</small>
                        <h6>Jacob Thornton</h6>
                      </div-->
                       {$item.event.category}
					</div>
					{if $item.event.vizitka}	
					<div class="boy" data-grid="images"><img style="display: inline-block; width: 522px; height: 506px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;" data-width="640" data-height="640" data-action="zoom" src="{$item.event.vizitka}"></div>
					{/if}
				  {/if}
                  {if $item.event_type=='custom'}
				    <div class="bpd">
                      <!--div class="bpb">
                        <small class="acx axc">1 hr</small>
                        <h6>Jacob Thornton</h6>
                      </div-->
                       <table class="table" id="orders">
							<tr>
								<td><b>{$item.event.dedline}</b></td>
								<td><b>{$item.event.type}</b><small class="form-text text-muted">{$item.event.vidtr}</small></td>
								<td><b>{$item.event.description}</b><small class="form-text text-muted">{$item.event.price} UAH</small></td>
								<td><b>{$item.event.ves} кг</b></td>
							</tr>
						</table>
                    </div>
				  {/if}  
				   {if $item.event_type=='transport'}
				    <div class="bpd">
                      <!--div class="bpb">
                        <small class="acx axc">1 hr</small>
                        <h6>Jacob Thornton</h6>
                      </div-->
                       <table class="table" id="orders">
							<tr>
								<td><b>{$item.event.dedline}</b></td>
								<td><b>{$item.event.otkuda} - {$item.event.kuda}</b><small class="form-text text-muted">{$item.event.type}</small></td>
								<td><b>{$item.event.description}</b><small class="form-text text-muted">{$item.event.price} UAH</small></td>
								<td><b>{$item.event.ves} кг</b></td>
							</tr>
						</table>
                    </div>
				  {/if}  
				  {if $item.event_type=='forumnews'}
				    <div class="bpd">
                      <!--div class="bpb">
                        <small class="acx axc">1 hr</small>
                        <h6>Jacob Thornton</h6>
                      </div-->
                       {$item.event.news}
                    </div>
					{if $item.event.image}	
					<div class="boy" data-grid="images"><img style="display: inline-block; width: 522px; height: 506px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;" data-width="640" data-height="640" data-action="zoom" src="{$item.event.image}"></div>
					{/if}
				  {/if}	
				  {if $item.event_type=='mynews'}
				    <div class="bpd">
                      <!--div class="bpb">
                        <small class="acx axc">1 hr</small>
                        <h6>Jacob Thornton</h6>
                      </div-->
                       {$item.event.news}
                    </div>
					{if $item.event.image}	
					<div class="boy" data-grid="images"><img style="display: inline-block; width: 522px; height: 506px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;" data-width="640" data-height="640" data-action="zoom" src="{$item.event.image}"></div>
					{/if}
				  {/if}	
                  </div>
                </div>
              </div>
            </div>
          </div>
  