{if $dialoger}

<ul class="bow box">	
	<li class="rv afh" style="border-bottom: 1px solid #ccc;">
		<img class="bos bqy aff yb" src="{$dialoger.fotoprof}">
		<div class="rw">
		  <strong>{$dialoger.first_name} {$dialoger.last_name}</strong>
		   <br/>
		  {if $dialoger.type=='comp'}
		  <strong>{$dialoger.company_name}</strong>
		  {else}
		  <strong>{$dialoger.activity}</strong>
		  {/if}
		</div>
	</li>	
</ul>	

{/if}
<div class="afc js-conversation"  style="width: 100%; ">
	
	<div class="axw" id="dialog" style="max-height: 350px !important;width: 100%;">
{if $dialog }	
{include file='boxes/list.dialogItem.html'}
{/if}	
</div>
{if $dialoger}
<textarea id="sendMessageContent" class="form-control" placeholder="Message"></textarea>

<button style="margin-top:10px;" type="button" id="sendMessageBtn" dialoger="{$dialoger.id}"  class="btn btn-primary float-right"><i class="fa fa-paper-plane" aria-hidden="true" style="padding: 0 5px 0 0;display:inline;"></i>
<span style="display:inline;">{lang->get key='Send'}</span></button>
{literal}
<script type="text/javascript">
$( document ).ready(function() {
var div = $("#dialog");
div.scrollTop(div.prop('scrollHeight'));
t=setTimeout('updateDialog()',5000);
});
function updateDialog()
{
	to = '{/literal}{$dialoger.id}{literal}';
		
		var dataPost = {
			ajaxData: "yep",
			dataType: "getDialog", 
			arg: {"to":to}
		};
		 $.ajax({
            url: '/?action=dkz/message',
            type: 'post',
			dataType: "json",
            data: dataPost,
            success: function(res){
				if(res.html!=0){
				$("#dialog").html(res.html);
				}
			},
			 error: function(jqXHR,textStatus){
			 //location.reload();
			console.log( jqXHR  );
			}
        });
	
	t=setTimeout('updateDialog()',5000);
}
</script>
{/literal}
{/if}
</div>
