<div class="cd fade" id="claimModal" tabindex="-1" role="dialog" aria-labelledby="claimModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{lang->get key='Claim'}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  <div id="yepContainer">
		{lang->get key='claim sent to the administration. On the decision you will be notified.'}
	  </div>
	  <div id="formContainer">
        <form>
		  <div class="form-group row">
			<label for="inputClaim" class="col-sm-2 col-form-label">{lang->get key='Claim text'}</label>
			<div class="col-sm-10">
			  <textarea name="text" class="form-control" id="inputClaim" ></textarea>
			</div>
		  </div>
		</form>  
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="claimModalBtn"  class="btn btn-primary mmbtn">{lang->get key='Save'}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{lang->get key='Close'}</button>
      </div>
    </div>
  </div>
</div>
<div class="cd fade" id="accesModal" tabindex="-1" role="dialog" aria-labelledby="accesModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{lang->get key='Change access'}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  
        <div class="form-check">
		  <input class="form-check-input" type="radio" name="access" id="exampleRadios1" value="3" >
		  <label class="form-check-label" for="exampleRadios1">
			{lang->get key='All access'}
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="access" id="exampleRadios2" value="2">
		  <label class="form-check-label" for="exampleRadios2">
			{lang->get key='Partner only access'}
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="access" id="exampleRadios3" value="1" >
		  <label class="form-check-label" for="exampleRadios3">
			{lang->get key='You only access'}
		  </label>
		</div>
      
      </div>
      <div class="modal-footer">
        <button type="button" id="accesModalBtn"  class="btn btn-primary mmbtn">{lang->get key='Save'}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{lang->get key='Close'}</button>
      </div>
    </div>
  </div>
</div>