<select id="inputCity" class="form-control" name="city" tpl_reg_type="{$tpl_reg_type}"
{if $city!='custom'}required="required"{/if} 
>
	<option disabled="true" selected="true">{lang->get key='City'}</option>
	{if isset($cities)}
	{foreach from=$cities item=name key=id}
	<option {if $city==$id}selected="true"{/if} value="{$id}">{$name}</option>
	{/foreach}
	{/if}
	<option value="custom">{lang->get key='Other...'}</option>
</select>
