
 <img
	class="bos vb yb aff"
	src="{$item.fotoprof}">
	
  <div class="rw">
	<div class="bpb">
	  
	  <h6><a href="/?action=dkz/user&id={$item.id}" style="color: inherit;">
		{if isset($whoOnline[$item.id])}
		<span aria-label="Сейчас в сети" style="background: rgb(66, 183, 42) none repeat scroll 0% 0%; border-radius: 50%; display: inline-block; height: 6px; margin-right: 4px; margin-top:20px; width: 6px;"></span>
		{/if}
	  {$item.first_name} {$item.last_name}</a></h6>
	</div>

	<p>
	 <br/>
		  {if $item.type=='comp'}
		  <strong>{$item.company_name}</strong>
		  {else}
		  <strong>{$item.activity}</strong>
		  {/if}
	</p>
	<div class="bpa">
			<button id="confirmFollowBtn" uid="{$item.id}" class="cg nz ok">
			  <span class="h ayi"></span> {lang->get key='Confirm'}</button>
		  </div>
</div>	

