<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-7" style="">
		<div class="mainImg">
						<p class="topp"><a href="/">DKZ</a></p>
						<P class="leftp">INTERNATIONAL</P><P class="midp">
						<a href="/">BUSINESS</a></P>
						<P class="rightp">DEPARTMENT</P>
					</div>
			<ul id="mainscroll" class="list-inline" style="font-size: 15px;text-align: center;display:none;">
				<li class="list-inline-item"><a href="#about">{lang->get key='About as'}</a></li>
				<li class="list-inline-item"><a href="#prez">{lang->get key='Presentation'}</a></li>
				<li class="list-inline-item"><a href="#reg">{lang->get key='Sing In'}/{lang->get key='Registration'}</a></li>
			</ul>	
			<div class="row">
				<div id="about" class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
					<div class="pz vp vy afo">
						<div class="qa">
							<p>Компания DKZ Group оказывает профессиональные услуги бизнесу 
							по организации международной коммерческой деятельности. </p>
							
							<p>Имея многолетний опыт в сфере внешнеэкономической деятельности, 
							наша команда профессионалов готова предоставить 
							вам качественные услуги по таможенному оформлению, логистике, 
							юридическому сопровождению документов. </p>
							
							<p>На сегодняшний день мы готовы предложить Вам возможность 
							сформировать наежные взаимовыгодные отношения в странах 
							Европейского союза, Украины, США, Турции, Китая Индии, Белорусии, России.</p>
						</div>
					</div>
				</div>
				<div id="prez" class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
					
					<div class="pz vp vy afo">
						<div class="qa">
						
						  <h6 class="afh">"DKZ Group"</h6>
						  <ul class="dc axg">
							<li>Departament of external economic activity</li>
							<li><i class="fa fa-mobile" aria-hidden="true"></i>+38 (098) 158-53-45</li>
							<li><i class="fa fa-at" aria-hidden="true"></i>dkz.ved@gmail.com</li>
							
						  </ul>
						  <iframe width="100%" height="247" src="https://www.youtube.com/embed/Zs1gT5MrOSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-5" id="reg" style="">
			<div class="pz vp vy afa">
				<div class="qa">
					{include file='singin_form.html'}
				</div>
			</div>
			<div class="pz vp vy afo">
				<div class="qa">
					{include file='register_form.html'}
				</div>
			</div>
				
	
		</div>
	</div>
</div>


