<nav class="ck pt adq py tk app-navbar">

  <a class="e logo" href="/?action=dkz/mainpage">DKZ</a>

  <button
    class="pp bpn vm"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse f" id="navbarResponsive">
    <ul class="navbar-nav ahq">
      <!--li class="pi {if $Sections.mainpage.current==1} active{/if}">
        <a class="pg" href="/?action=dkz/mainpage">Home <span class="adt">(current)</span></a>
      </li-->
	    {if $currentAction.blocks.left}
	<li class="pi" id="leftblock-mobile" style="display:none;">
        <div class="qa" style="background-color:#fff;margin-top:5px; border-radius:5px;">
		{include file=$currentAction.blocks.left}
		 </div>
      </li>
	{/if}
      <li class="pi {if $Sections.forum.current==1} active{/if}">
        <a class="pg" href="/?action=dkz/forum">{lang->get key='BUSINESS FORUM'}</a>
      </li>
      <li class="pi {if $Sections.media.current==1} active{/if}">
        <a class="pg" href="/?action=dkz/media">{lang->get key='MEDIA CENTER'}</a>
      </li>
      <li class="pi {if $Sections.shopping.current==1} active{/if}">
        <a class="pg" href="/?action=dkz/shopping">{lang->get key='SHOPPING CENTER'}</a>
      </li>
      <li class="pi {if $Sections.customs.current==1} active{/if}">
        <a class="pg" href="/?action=dkz/customs">{lang->get key='CUSTOMS CENTER'}</a>
      </li>
      <li class="pi {if $Sections.transport.current==1} active{/if}">
        <a class="pg" href="/?action=dkz/transport">{lang->get key='TRANSPORT CENTER'}</a>
      </li>
	 	
    </ul>
    <ul id="#js-popoverContent" class="nav navbar-nav acx aek d-none vt">
	   <li class="pi">
        <a class="g pg" href="/?action=dkz/notifications">
          <span class="h azy" style="font-size: 19px;line-height: 19px;"><span style="display:none;" class="badge badge-danger badge-counter-notifi">5</span></span>
        </a>
      </li>
      <li class="pi afb">
        <button class="cg bpo bpp boi" data-toggle="popover">
          <img class="us" src="{$currentUser.fotoprof}">
        </button>
      </li>
    </ul>
    <ul class="nav navbar-nav d-none" id="js-popoverContent">
		<li class="pi"><a class="pg" href="/?action=dkz/exit">{lang->get key='Logout'}</a></li>
    </ul>
  </div>
</nav>



<div class="by aha ahl" >
  <div class="dp">
    <div class="fj">
    {if $currentAction.blocks.left}
	<div class="pz bpi afo position-fixed" id="leftblock-def" style="display:flex;width:300px;">
        <div class="qa">
		{include file=$currentAction.blocks.left}
		 </div>
      </div>
	{/if}	

      <!--div class="pz vp vy afo">
        <div class="qa">
          <h6 class="afh">About <small>· <a href="#">Edit</a></small></h6>
          <ul class="dc axg">
            <li><span class="axc h bfa aff"></span>Worked at <a href="#">{$currentUser.company_name}</a>
            <li><span class="axc h bfq aff"></span>Lives in <a href="#">{$currentUser.country}</a>
            <li><span class="axc h bgz aff"></span>From <a href="#">{$currentUser.city}</a>
          </ul>
        </div>
      </div>

       <div class="pz vp vy afo">
        <div class="qa">
          test block
        </div>
      </div-->
    </div>

    <div class="fm">

      <ul class="ca bow box afo">
{if $currentAction.blocks.filter}
	{include file=$currentAction.blocks.filter}
{/if}
{if $currentAction.blocks.form}
	{include file=$currentAction.blocks.form}
{/if}
{if $currentAction.blocks.content}
	{if isset($data)}
		{foreach from=$data item=item key=k}
			<li class="rv b agz" style="margin:7px 0px;border-radius:5px;" >
				{include file=$currentAction.blocks.content}
			</li>
		{/foreach}
	{else}
		<li class="rv b agz">
			{include file=$currentAction.blocks.content}
		</li>
	{/if}
	
{/if}

        
      </ul>
    </div>
    <div class="fjr fj" style="">
		<div class="pz bpi afo position-fixed" id="user-navbar-def" style=" display:flex">
        <!--div class="qf" style="background-image: url();"></div-->
        <div class="qf"></div>
        <div class="qa avz">
          <a href="/?action=dkz/office&event=cabinet">
            <img
              class="bpj"
              src="{$currentUser.fotoprof}">
          </a>

          <h6 class="qb">
            <a class="boa" href="#">{$currentUser.first_name} {$currentUser.last_name}</a>
          </h6>

          <!--p class="afo">user status.</p-->
		<ul class="bpk">
            <li class="bpl" style="padding: 20px 20px !important;">
              <a href="/?action=dkz/office" class="boa" >
                <i class="fa fa-university"  aria-hidden="true"></i>
                <h6 class="aej">{lang->get key='My office'}</h6>
              </a>
            </li>
			<li class="bpl" style="padding: 20px 20px !important;">
              <a href="/?action=dkz/message" class="boa" >
                <i class="fa fa-envelope"  aria-hidden="true"><span style="display:none;" class="badge badge-danger badge-counter ">5</span></i>
				
                <h6 class="aej">{lang->get key='Messages'}</h6>
              </a>
            </li>
		</ul>
		<ul class="bpk">	
			<li class="bpl" style="padding: 20px 20px !important;">
              <a href="/?action=dkz/partners" class="boa" >
                <i class="fa fa-users"  aria-hidden="true"></i>
                <h6 class="aej">{lang->get key='Partners'}</h6>
              </a>
            </li>
			<li class="bpl" style="padding: 20px 20px !important;">
              <a href="/?action=dkz/settings" class="boa" >
                <i class="fa fa-cog"  aria-hidden="true"></i>
                <h6 class="aej">{lang->get key='Settings'}</h6>
              </a>
            </li>
		</ul>
          
        </div>
      </div>
      <!--div class="alert ro alert-dismissible d-none vy" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a class="rj" href="#">Visit your profile!</a> Check your self, you aren't looking well.
      </div>

      <div class="pz afo d-none vy">
        <div class="qa">
          test block
        </div>
      </div>

      <div class="pz afo d-none vy">
        <div class="qa">
        test block
        </div>
        
      </div>

      <div class="pz bpm">
        <div class="qa">
         test block
        </div>
      </div-->
    </div>
  </div>
</div>
<div class="user-navbar-mobile">
	<ul class="bpk" style=" width:100%!important;padding-top: 15px;">
		<li class="bpl" style=" width:24%;">
		  <a href="/?action=dkz/office" class="boa" >
			<i class="fa fa-university" style="padding-left: 42%;" aria-hidden="true"></i>
			<!--p class="aej">{lang->get key='My office'}</p-->
		  </a>
		</li>
		<li class="bpl" style=" width:24%;">
		  <a href="/?action=dkz/message" class="boa" >
			<i class="fa fa-envelope" style="padding-left: 40%;" aria-hidden="true"><span style="display:none;" class="badge badge-danger badge-counter">5</span></i>
			<!--p class="aej">{lang->get key='Messages'}</p-->
		  </a>
		</li>
		
		<li class="bpl" style=" width:24%;">
		  <a href="/?action=dkz/partners" class="boa" >
			<i class="fa fa-users" style="padding-left: 42%;" aria-hidden="true"></i>
			<!--p class="aej">{lang->get key='Partners'}</p-->
		  </a>
		</li>
		<li class="bpl" style=" width:24%;">
		  <a href="/?action=dkz/settings" class="boa" >
			<i class="fa fa-cog" style="padding-left: 42%;"  aria-hidden="true"></i>
			<!--p class="aej">{lang->get key='Settings'}</p-->
		  </a>
		</li>
	</ul>
</div>

	{literal}
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
	{/literal}