{if isset($autors[$uid])}
	<div class="pz bpi afo" style="width:100%;">
        <!--div class="qf" style="background-image: url();"></div-->
        <div class="qf"></div>
        <div class="qa avz">
			  <a href="/?action=dkz/user&id={$uid}">
				<img style="width: 94px !important; height: 94px !important;"
				  class="bpj"
				  src="{$autors[$uid].fotoprof}">
			  </a>

			<h6 class="qb">
				<a class="boa" href="/?action=dkz/user&id={$uid}">{$autors[$uid].first_name} {$autors[$uid].last_name}</a>
			</h6>
			<ul class="dc axg" style="width: 45%; text-align: left;display:inline-block">
			 {if $autors[$uid].type=='comp'}
				<li><span class="axc h bfa aff"></span>{lang->get key='Working in'} <a href="#">{$autors[$uid].company_name}</a>
			{else}
				<li><span class="axc h bfa aff"></span>{lang->get key='Working in'} <a href="#">{$autors[$uid].activity}</a>
			{/if}	
				<li><span class="axc h bfq aff"></span>{lang->get key='Lives in'} <a href="#">{$autors[$uid].country}</a>
				
				<li><span class="axc h bgz aff"></span>{lang->get key='From'} <a href="#">{$autors[$uid].city}</a>
			</ul>
			<ul class="dc axg" style="width: 45%; text-align: left;display:inline-block">	
				<li><span class="axc h bgz aff"></span>{lang->get key='Phone'} <a href="#">{$autors[$uid].phone_number}</a>
				<li><span class="axc h bgz aff"></span>{lang->get key='Email'} <a href="#">{$autors[$uid].email}</a>
			{if $uid!=$currentUser.id}
				<li> <a  class="cg nz ok" target="_blank" href="/?action=dkz/message&to={$uid}">{lang->get key='Send message'}</a>
				
				<span id="addFollowContainer">
				{if !isset($myPartnersIDs[$uid])}
				
				<button class="cg nz ok" id="addFollowBtn" uid="{$uid}">
					<span class="h ayi"></span> {lang->get key='Follow'}</button>
				
				{else}
					{if $myPartnersIDs[$uid]==1}
						<p style="color:green;">{lang->get key='application sent'}</p>
					{else}
					<button class="cg nz ok" id="delFollowBtn" uid="{$uid}">
					<span class="h ayi"></span> {lang->get key='Dont follow'}</button>
					{/if}
					
				{/if}
				</span>	
				</li>
			{/if}	
			  </ul>	
		{if $user_delails}	  
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
				<a class="nav-link active" id="customs-tab" data-toggle="tab" href="#customs" role="tab" aria-controls="customs" aria-selected="true">{lang->get key='Customs request'}</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="transport-tab" data-toggle="tab" href="#transport" role="tab" aria-controls="transport" aria-selected="false">{lang->get key='Transport request'}</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="false">{lang->get key='Products'}</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="media-tab" data-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">{lang->get key='Media'}</a>
			  </li>
			  
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="customs" role="tabpanel" aria-labelledby="customs-tab">
				{if $custom}
					 <ul class="ca bow box afo">
						{foreach from=$custom item=item key=k}
							<li class="rv b agz">
								{include file='boxes/list.post.customs.html'  model='custom'}
							</li>
						{/foreach}
					 </ul>
				{else}
					<h6>No data available</h6>
				{/if}
				
				</div>
				<div class="tab-pane fade" id="transport" role="tabpanel" aria-labelledby="transport-tab">
				{if $transport}
					 <ul class="ca bow box afo">
						{foreach from=$transport item=item key=k}
							<li class="rv b agz">
								{include file='boxes/list.post.transport.html' model='transport'}
							</li>
						{/foreach}
					 </ul>
				{else}
					<h6>No data available</h6>
				{/if}
				</div>
				<div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
				{if $products}
					 <ul class="ca bow box afo">
						{foreach from=$products item=item key=k}
							<li class="rv b agz">
								{include file='boxes/list.post.product.html' model='product'}
							</li>
						{/foreach}
					 </ul>
				{else}
					<h6>No data available</h6>
				{/if}
				</div>
				<div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
				{if $vizitki}
					 <ul class="ca bow box afo">
						{foreach from=$vizitki item=item key=k}
							<li class="rv b agz">
								{include file='boxes/list.post.media.html' model='vizitki'}
							</li>
						{/foreach}
					 </ul>
				{else}
					<h6>No data available</h6>
				{/if}
				</div>
				
			</div>  
		{else}
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
				<a class="nav-link active" id="media-tab" data-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">{lang->get key='Media'}</a>
			  </li>
			</ul>
			<div class="tab-content" id="myTabContent">
			<div  class="tab-pane fade show active"  id="media" role="tabpanel" aria-labelledby="media-tab">
				{if $vizitki}
					 <ul class="ca bow box afo">
						{foreach from=$vizitki item=item key=k}
							<li class="rv b agz">
								{include file='boxes/list.post.media.html' model='vizitki'}
							</li>
						{/foreach}
					 </ul>
				{else}
					<h6>No data available</h6>
				{/if}
				</div>
			</div>
		{/if}	
        </div>
      </div>
	{literal}  
	<style>
		.rw{text-align: left !important;}
	</style>
	{/literal}  
	{else}
		<h3> Error 404 User not found </h3>
	{/if}