<h5 class="afh">{lang->get key='Registration'}</h5>
<ul class="nav nav-tabs"  role="tablist">
	<li class="nav-item" style="width:48%">
		<a class="nav-link active" id="juristic-tab" data-toggle="tab" href="#juristic" role="tab" aria-controls="juristic" aria-selected="true">{lang->get key='Juristic'}</a>
	</li>
	<li class="nav-item" style="width:48%">
		<a class="nav-link" id="physical-tab" data-toggle="tab" href="#physical" role="tab" aria-controls="physical" aria-selected="false">{lang->get key='Physical'}</a>
	</li>
</ul>
<div class="tab-content" id="regContainer">
  <div class="tab-pane active" id="juristic" role="tabpanel" aria-labelledby="juristic-tab">
	<form action="/?action=dkz/register/add" method="post">
	{assign var='tpl_reg_type' value='comp'}
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputEmail">{lang->get key='Email'}</label>
			<div class="col-sm-8">	
				<input class="form-control {if isset($errors[$tpl_reg_type].email)}is-invalid{/if}" value="{if isset($user[$tpl_reg_type].email)}{$user[$tpl_reg_type].email}{/if}" id="inputEmail" name="email" 
				placeholder="{lang->get key='Email'}" required type="email">
			{if isset($errors[$tpl_reg_type].email)}	
			<div class="invalid-feedback">
			  {$errors[$tpl_reg_type].email}
			</div>
			{/if}
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPassword">{lang->get key='Password'}</label>
			<div class="col-sm-8">	
				<input type="password" id="inputPassword" class="form-control {if isset($errors[$tpl_reg_type].password)}is-invalid{/if}" id="reg_pass" placeholder="{lang->get key='Password'}" name="password">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPasswordConfirm">{lang->get key='Password confirm'}</label>
			<div class="col-sm-8">	
				<input type="password" id="inputPasswordConfirm" class="form-control {if isset($errors[$tpl_reg_type].password)}is-invalid{/if}" id="reg_pass" placeholder="{lang->get key='Password'}" name="password_confirm">
			{if isset($errors[$tpl_reg_type].password)}	
			<div class="invalid-feedback">
			  {$errors[$tpl_reg_type].password}
			</div>
			{/if}
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputfirstName">{lang->get key='First name'}</label>
			<div class="col-sm-8">	
				<input id="inputfirstName" class="form-control" name="first_name" value="{if isset($user[$tpl_reg_type].first_name)}{$user[$tpl_reg_type].first_name}{/if}"  
				placeholder="Ivan" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputLastName">{lang->get key='Last name'}</label>
			<div class="col-sm-8">	
				<input id="inputLastName" class="form-control" name="last_name" value="{if isset($user[$tpl_reg_type].last_name)}{$user[$tpl_reg_type].first_name}{/if}" 
				placeholder="Ivanov" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputStatComp">{lang->get key='Company status'}</label>
			<div class="col-sm-8">	
				<input id="inputStatComp" class="form-control" name="stat_comp"  value="{if isset($user[$tpl_reg_type].stat_comp)}{$user[$tpl_reg_type].stat_comp}{/if}" 
				placeholder="OOO" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputCompanyName">{lang->get key='Company name'} </label>
			<div class="col-sm-8">	
				<input id="inputCompanyName" class="form-control" 
				placeholder="{lang->get key='Company name'}" value="{if isset($user[$tpl_reg_type].company_name)}{$user[$tpl_reg_type].company_name}{/if}"  name="company_name" required type="text">  
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputDirectionOfactivity">{lang->get key='Direction of activity'}</label>
			<div class="col-sm-8">	
				<input id="inputDirectionOfactivity" class="form-control" name="activity" value="{if isset($user[$tpl_reg_type].activity)}{$user[$tpl_reg_type].activity}{/if}" 
				placeholder="{lang->get key='Direction of activity'}" required="required">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPositionInCompany">{lang->get key='Position in Company'}</label>
			<div class="col-sm-8">
				<input id="inputPositionInCompany" class="form-control" name="position" value="{if isset($user[$tpl_reg_type].position)}{$user[$tpl_reg_type].position}{/if}" 
				placeholder="{lang->get key='Position in Company'}" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		{if isset($user[$tpl_reg_type].country)}
			{include file='boxes/form.location.html' country=$user[$tpl_reg_type].country tpl_reg_type=$tpl_reg_type}
		{else}
			{include file='boxes/form.location.html' country='' tpl_reg_type=$tpl_reg_type}
		{/if}
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPhone">{lang->get key='Phone'}</label>
			<div class="col-sm-8">	
				<input id="inputPhone" class="form-control" placeholder="{lang->get key='Phone'}" value="{if isset($user[$tpl_reg_type].phone_number)}{$user[$tpl_reg_type].phone_number}{/if}" name="phone_number" pattern="{literal}[8-10]{7,13}{/literal}">
			</div>
		</div>
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="ruleCorpCheck">
			<label class="form-check-label" for="ruleCorpCheck">{lang->get key='I agree with the'} <a href="#" id="getRuleModal">{lang->get key='rules of the service'}</a> {lang->get key='and I agree to the storage and processing of personal data'}</label>
		</div>
		<input type="hidden" value="comp" name="type">
		<button type="submit" id="CorpRegisterBtn" class="btn btn-info">{lang->get key='Registration'}</button>
	</form>
	
  </div>
  <div class="tab-pane" id="physical" role="tabpanel" aria-labelledby="physical-tab">
	<form action="/?action=dkz/register/add" method="post">
	{assign var='tpl_reg_type' value='individ'}
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputEmail">{lang->get key='Email'}</label>
			<div class="col-sm-8">	
				<input class="form-control {if isset($errors[$tpl_reg_type].email)}is-invalid{/if}" value="{if isset($user[$tpl_reg_type].email)}{$user[$tpl_reg_type].email}{/if}" id="inputEmail" name="email" 
				placeholder="{lang->get key='Email'}" required type="email">
			{if isset($errors[$tpl_reg_type].email)}	
			<div class="invalid-feedback">
			  {$errors[$tpl_reg_type].email}
			</div>
			{/if}
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPassword">{lang->get key='Password'}</label>
			<div class="col-sm-8">	
				<input type="password" id="inputPassword" class="form-control {if isset($errors[$tpl_reg_type].password)}is-invalid{/if}" id="reg_pass" 
				placeholder="{lang->get key='Password'}" name="password">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPasswordConfirm">{lang->get key='Password confirm'} </label>
			<div class="col-sm-8">	
				<input type="password" id="inputPasswordConfirm" class="form-control {if isset($errors[$tpl_reg_type].password)}is-invalid{/if}" id="reg_pass" 
				placeholder="{lang->get key='Password confirm'}" name="password_confirm">
			{if isset($errors[$tpl_reg_type].password)}	
			<div class="invalid-feedback">
			  {$errors[$tpl_reg_type].password}
			</div>
			{/if}
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputfirstName">{lang->get key='First name'}</label>
			<div class="col-sm-8">
				<input id="inputfirstName" class="form-control" name="first_name" value="{if isset($user[$tpl_reg_type].first_name)}{$user[$tpl_reg_type].first_name}{/if}" 
				placeholder="Ivan" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputLastName">{lang->get key='Last name'}</label>
			<div class="col-sm-8">
				<input id="inputLastName" class="form-control" name="last_name" value="{if isset($user[$tpl_reg_type].last_name)}{$user[$tpl_reg_type].last_name}{/if}" 
				placeholder="Ivanov" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputProfessionalOfactivity">{lang->get key='Professional of activity'}</label>
			<div class="col-sm-8">
				<input id="inputProfessionalOfactivity" class="form-control" name="activity" value="{if isset($user[$tpl_reg_type].activity)}{$user[$tpl_reg_type].activity}{/if}" 
				placeholder="{lang->get key='Professional of activity'}" required="required">
			</div>
		</div>
		{if isset($user[$tpl_reg_type].country)}
			{include file='boxes/form.location.country.html' country=$user[$tpl_reg_type].country tpl_reg_type=$tpl_reg_type}
		{else}
			{include file='boxes/form.location.country.html' country='' country='' tpl_reg_type=$tpl_reg_type}
		{/if}
		{if isset($user[$tpl_reg_type].city)}
			{include file='boxes/form.location.city.html' city=$user[$tpl_reg_type].city tpl_reg_type=$tpl_reg_type}
		{else}
			{include file='boxes/form.location.city.html' city='' tpl_reg_type=$tpl_reg_type}
		{/if}
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPhone">{lang->get key='Phone'}</label>
			<div class="col-sm-8">
			<input id="inputPhone" class="form-control" placeholder="{lang->get key='Phone'}" name="phone_number" value="{if isset($user[$tpl_reg_type].phone_number)}{$user[$tpl_reg_type].phone_number}{/if}" pattern="{literal}[8-10]{7,13}{/literal}">
			</div>
		</div>
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="ruleIndCheck">
			<label class="form-check-label" for="ruleCheck">{lang->get key='I agree with the'} <a href="#" id="getRuleModal">{lang->get key='rules of the service'}</a> {lang->get key='and I agree to the storage and processing of personal data'}</label>
		</div>
		 <input type="hidden" value="individ" name="type">
		<button type="submit" id="IndRegisterBtn" class="btn btn-info">{lang->get key='Registration'}</button>
	</form>
  </div>
  
</div>
{literal}
 <script type="text/javascript">
$(document).ready(function (){
    var button1 = $('#IndRegisterBtn');
    var button2 = $('#CorpRegisterBtn');
	if(!$('#ruleIndCheck').prop('checked')){
		button1.attr('disabled', 'disabled');
	}
	if(!$('#ruleCorpCheck').prop('checked')){
		button2.attr('disabled', 'disabled');
	}
	
    $('#ruleIndCheck').change(function(){
		if($('#ruleIndCheck').prop('checked')){
			button1.removeAttr('disabled');
		}else{
			button1.attr('disabled', 'disabled');
		}
	});
	$('#ruleCorpCheck').change(function(){
		if($('#ruleCorpCheck').prop('checked')){
			button2.removeAttr('disabled');
		}else{
			button2.attr('disabled', 'disabled');
		}
	});
	
	$("#getRuleModal").click(function(e){
		e.preventDefault();
		$("#ruleModal").modal();
		
	});
	
});
  </script>
{/literal}
<!-- Modal rule -->
<div class="modal fade" id="ruleModal" tabindex="-1" role="dialog" aria-labelledby="ruleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rules of the service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>1. УСЛОВИЯ ИСПОЛЬЗОВАНИЯ САЙТА. ПРАВА И ОБЯЗАНОСТИ СТОРОН</h2>
<p>1.  ООО «ДКЗ ГРУП», юридический адрес: ул. Гагарина, 26, пгт. Соленое, Днепропетровская обл., Украина, 52 400, (далее Исполнитель и/или Компания) публикует данный Публичный договор (Соглашение и /или Оферта) об оказании услуг на интернет-сайте https://DKZ.BUSINESS.</p>
<p>2.  Термины, используемые в настоящем соглашении:
• Администрация и модераторы Сайта - Под Администрацией Сайта DKZ.BUSINESS (ранее и далее – Администрация Сайта или Администрация) в настоящих Правилах и иных специальных документах, размещенных на Сайте, понимается Общество с ограниченной ответственностью «ДКЗ ГРУП», юридический адрес: ул. Гагарина, 26, пгт. Соленое, Днепропетровская обл., Украина, 52 400 
• Оферта – публичное предложение Исполнителя, адресованное любому дееспособному физическому и/или юридическому лицу, заключить с ним Публичный договор об оказании услуг на условиях, содержащихся в данном Соглашении, включая все его приложения;
•  Пользователь – любое дееспособное физическое или юридическое лицо, принявшее условия данного Соглашения и пользующееся услугами Компании. От имени юридического лица пользование Сайтом осуществляется уполномоченным сотрудником/представителем такого юридического лица;
• Персональные данные - это сведения или совокупность сведений о юридическом и физическом лице, которое при их помощи идентифицировано или может быть конкретно идентифицировано.
• Товар - любой материальный и нематериальный объект;
• Публикация – это действие Пользователя – добавлен ие и/или изменение объявления, заявки, товара.
• Заявка - любая операция, связанная с предоставлением сервиса, который потребляется в процессе совершения определенного действия или осуществления определенной деятельности, для удовлетворения личных потребностей заказчика;
• Услуги/сервис DKZ.BUSINESS – любые платные и бесплатные сервисы, оказываемые Исполнителем при помощи Сайта.
• Учетная запись/аккаунт - создаваемый Пользователем и принадлежащий Исполнителю электронный кабинет Пользователя в функциональной системе Сайта, с помощью которого он может управлять своими объявлениями, публикациями, заявками на Сайте. Учетной записью/аккаунтом может пользоваться только один Пользователь, передача данных для доступа в учетную запись/аккаунт другому Пользователю (другому лицу) не допускается;
• Регистрация – принятие Пользователем оферты на заключение данного Соглашения и процедура, в ходе которой Пользователь посредством заполнения соответствующих форм Сайта предоставляет необходимую информацию для использования сервисов Сайта. Регистрация считается завершенной только в случае успешного прохождения всех ее этапов в соответствии с опубликованными на Сайте инструкциями.
• КУКИСЫ (COOKIES) - это небольшие текстовые файлы, которые хранят информацию непосредственно на компьютере пользователя, его мобильном телефоне или другом устройстве.
• Пиксели (pixels) – небольшие цифровые изображения, которые являются частью кодов на веб-страницах, которые позволяют другому серверу измерить просматриваемость веб-страницы, и часто используются в сочетании с кукис (cookies). Код отслеживает в случае если пиксель загружен, чтобы указать, что пользователь взаимодействует со страницей или частью страницы Сайта.
<p>3.  Администрация Сайта предоставляет Вам доступ к использованию Сайта DKZ.BUSINESS и его функционалу на условиях, являющихся предметом настоящих Правил пользования Сайтом DKZ.BUSINESS. В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих Правил, которые рассматриваются Администрацией Сайта как публичная оферта в соответствии со статьей 633 Гражданского Кодекса Украины (ГК Украины) данное Соглашение является публичным договором, и в случае принятия изложенных ниже условий любое дееспособное физическое или юридическое лицо (далее Пользователь) обязуется выполнять условия этого Соглашения.
<p>4.  Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в сети   Интернет: DKZ.BUSINESS
<p>5.  При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта достоверную и актуальную информацию для формирования персональной страницы Пользователя. Регистрационная форма Сайта может запрашивать у Пользователя дополнительную информацию.
<p>6.  Компания оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных, указанных им при регистрации, и запросить в связи с этим подтверждающие документы (в частности – копии/заверенные копии документов, удостоверяющих личность), не предоставление которых, по усмотрению Пользователя, может быть приравнено к предоставлению недостоверной информации. В случае если данные Пользователя, указанные в предоставленных им документах, не соответствуют данным, указанным при регистрации, а также в случае, когда данные, указанные при регистрации, не позволяют идентифицировать Пользователя, Компания вправе отказать Пользователю в доступе к использованию сервисов Сайта с предварительным уведомлением Пользователя или без такового.
<p>7.  Начиная использовать сайт DKZ.BUSINESS, либо пройдя процедуру регистрации, Пользователь подтверждает свою дееспособность и принятие условий Соглашения. В случае несогласия Пользователя с какими-либо из положений настоящего Соглашения, Пользователь не в праве использовать сайт DKZ.BUSINESS и Исполнитель просит покинуть данный сайт.
<p>8.  Компания предлагает Пользователю услуги по использованию Сайта для размещения новостных публикаций, заявок услуг, объявлений товаров и медиа контента после заполнения специальной формы с указанием необходимых параметров c целью последующей покупки или продажи другими Пользователями.
<p>9.  Воспользовавшись сервисами Сайта, Пользователь подтверждает, что несет исключительную ответственность за содержание, а также обладает всеми необходимыми правами, лицензиями, разрешениями на размещение информации на Сайте, включая без ограничений все патенты, торговые марки, коммерческие тайны, авторские права, или же имеет соответствующее письменное согласие, лицензию или разрешение всех идентифицируемых в объявлении лиц и компаний для использования их имен или изображений, а так же подтверждает свое согласие с тем, что он использует Сайт и его сервисы на свой страх и риск «как есть», оценивает и несет все риски, связанные с использованием размещенных на Сайте объявлений, а Компания, в том числе ее руководство, сотрудники и агенты, не несут никакой ответственности за содержание размещенных на Сайте объявлений, за любые убытки и потери, ставшие результатом использования размещенных на Сайте объявлений
<p>10. Все сделки заключаются между Пользователями напрямую. Компания не является организатором/инициатором сделки между Пользователями или ее стороной. Сайт является социально торговой бизнес платформой, которая предоставляет возможность Пользователям размещать новостные публикаций, заявки услуг, объявления товаров, разрешенным законом в любое время, откуда угодно и по любой цене.
<p>11. Компания обязуется прилагать все усилия для должного исполнения своих обязанностей по настоящему Соглашению, включая нормальную работу сервисов Сайта и нераспространение третьим лицам персональных данных, предоставленных Пользователем, за исключением случаев, предусмотренных законодательством.
<p>12. Компания может периодически устанавливать ограничения по использованию сервисов Сайта, в частности, максимальное количество дней хранения объявлений и их размер. Компания вправе в любой момент изменить или прекратить работу сервисов Сайта или их части с уведомлением Пользователя или без него, не неся при этом ответственности за подобные изменения или прекращения.
<p>13. Компания вправе по собственному усмотрению отвергать, удалять или перемещать любое размещенное на Сайте объявление за нарушение настоящего Соглашения.
<p>14. Компания не может контролировать достоверность размещаемой пользователями информации. Компания не несет ответственности за какой-либо ущерб, причиненный в результате совершения сделки или ненадлежащего поведения какой-либо из сторон сделки.
<p>15. Компания не несет ответственности за любой несанкционированный доступ или использование серверов Компании и/или любой хранящейся на них информации о пользователях, а также за любые ошибки, вирусы, «троянские кони» и т.д., которые могут быть переданы на Сайт или через Сайт третьими лицами.
<p>16. Компания имеет право переместить, завершить или продлить срок демонстрации товара или услуги Пользователя по техническим причинам, находящимся под контролем или вне контроля Компании. Компания имеет право прекратить демонстрацию объявления, если Пользователь зарегистрировал товар или услугу, с нарушением условий настоящего Соглашения или действующего применимого законодательства.
<p>17. Объявления могут проходить премодерацию представителями Компании, а также Вносить в текст объявления Пользователя правки, касающиеся орфографии и пунктуации, не влияющие на общий смысл содержания объявления. Компания вправе удалять объявления по требованию правообладателя или компетентных государственных органов. Компания также оставляет за собой право удалять любые объявления, которые, по ее мнению, не соответствуют принципам и устоям общественной морали. Решение об удалении является окончательным и обжалованию не подлежит.
<p>18. Ни при каких условиях Компания, ее руководство, сотрудники и агенты, не несут ответственности за прямой, косвенный, случайный, специальный ущерб, убытки и выплаченные штрафные санкции любого характера (даже если Компания была предупреждена о возможности такого ущерба) в результате использования Сайтов и его сервисов Пользователем, включая без ограничения случаи, в которых ущерб стал результатом использования или неправильного использования Сайта и его сервисов
<p>19. Компания имеет право переносить объявления в другие рубрики Сайтов в случае выявления более подходящей рубрики для их размещения. Отказать в публикации объявлений, если они не соответствуют тематике выбранных разделов, либо нарушают настоящее Соглашение, а также ограничивать количество объявлений от одного Пользователя в целях удобства пользования Сайта без объяснения причин.
<p>20. Компания не несет ответственности за содержание объявлений или гиперссылок на ресурсы, указанные в описании объявлений пользователей.
<p>21. Предметом объявлений могут быть товары или услуги, реализация которых не запрещена и не ограничена в соответствии с законодательством страны, в которых они реализуются, а также не противоречит данному Соглашению.
<p>22. Пользователь несет ответственность за все действия с использованием его электронного адреса, номера мобильного телефона и пароля для входа на Сайт. Пользователь имеет право пользоваться сервисами Сайта только при помощи собственного электронного адреса, номера мобильного телефона и пароля. В случае передачи данных для доступа в учетную запись/аккаунт другому Пользователю (другому лицу), такая учетная запись/аккаунт может быть заблокирована по усмотрению Администрации.
<p>23. Пользователь обязуется сохранять конфиденциальность пароля и не раскрывать его третьим лицам.
<p>24. Пользователь обязан немедленно изменить данные для входа на Сайт, если у него есть причины подозревать, что его электронный адрес, телефон и пароль, используемые для входа на Сайт, были раскрыты или могут быть использованы третьими лицами.
<p>25. Пользователь, размещающий новостные публикации, заявки услуг, объявления товаров и медиа контент на Сайте, обязуется разместить информацию о них в соответствии настоящим Соглашением и инструкциями, представленными на Сайте, и предоставить точную и полную информацию. Размещая информацию Пользователь подтверждает, что он имеет право продавать опубликованный товар, оказывать данную услугу, использовать медиа контент в соответствии с требованиями законодательства стран, в которых они реализуются.
<p>26. Пользователь гарантирует, что предлагаемые им товары/услуги/медиа соответствуют нормам качества, установленным законодательством стран, для которых они реализуются и свободны от притязаний третьих лиц.
<p>27. Пользователь гарантирует, что предлагаемые им услуги, в случае если оказание их требует специального разрешения, будут осуществлены в соответствии с требованиями законодательства стран, специальные органы которых будут уполномочены осуществлять надзор за такой деятельностью Пользователя.
<p>28. Пользователь обязуется:
• Не предпринимать никаких действий, которые могут привести к непропорционально большой нагрузке на инфраструктуру Сайта;
• Не использовать автоматические программы для получения доступа на Сайт без письменного разрешения Компании;
• Не копировать, не воспроизводить, не изменять, не распространять и не представлять общественности любую информацию, содержащуюся на Сайтах (кроме сведений, предоставленных самим Пользователем) без предварительного письменного разрешения Компании;
• Не препятствовать и не пытаться препятствовать работе и другой деятельности на Сайте; а также не препятствовать действию автоматических систем или процессов, а также других мероприятий, с целью воспрепятствовать или ограничить доступ на Сайта;
• Не использовать сведения, предоставленные другими Пользователями, в иных целях, кроме как для совершения сделки непосредственно с этим Пользователем, без письменного разрешения другого Пользователя. В настоящий пункт Соглашения не включены персональные данные Пользователя, которые последний предоставляет Компании при регистрации.
<p>29. Пользователь вправе направлять жалобы по вопросам работы Сайта по электронному сайту infa@dkz.business которые будут рассмотрены в течение двух рабочих дней с момента их поступления или с момента получения полной информации по сути жалобы.
<p>30. Пользователь не может делать вывод, что предложение, продажа и приобретение какого-либо товара или услуги является действительным и легальным исходя из факта размещения, продажи и приобретения товара или услуги на Сайте. Компания не несет ответственность за завершение сделки Пользователем Сайта. Пользователь принимает на себя полную ответственность за свои действия.
<p>31. Если у Пользователя возникают претензии к другому Пользователю в результате использования последним услуг Сайта, Пользователь соглашается предъявлять эти требования самостоятельно и без вмешательства со стороны Компании, а также освобождает Компанию (наряду с ее дочерними компаниями, аффилированными лицами, служащими, директорами, уполномоченными и сотрудниками) от всех требований, обязательств, компенсаций по возмещению ущерба, убытков, затрат и издержек, включая адвокатские гонорары, известных или неизвестных, возникших в результате или в связи с такими требованиями.
<p>32. Пользователь вправе сообщить Компании о факте нарушения его прав другим Пользователем. В случае обоснованности жалоб Пользователя Компания по своему усмотрению удаляет публикацию/объявление/заявку, которое нарушает права Пользователя.
<p>33. Чтобы поддерживать высокое качество своих услуг, Компания оставляет за собой право ограничить количество активных объявлений Пользователя на Сайте, а также ограничить действия Пользователя на Сайте.
<p>34. Компания призывает Пользователей соблюдать осторожность и сохранять здравый смысл при пользовании услугами Сайта. Пользователь должен принять во внимание, что его контрагент может не иметь соответствующей дееспособности или выдавать себя за другое лицо. Использование услуг Компании подразумевает, что Пользователь осознает и принимает эти риски, а также соглашается, что Компания не несет ответственности за действия или бездействие со стороны Пользователя.
<p>35. Компания может запретить Пользователю доступ на Сайт, если Пользователь нарушает условия настоящего Соглашения. Факт нарушения считается подтвержденным, если Пользователь был оповещен администрацией Сайта о ведении деятельности, нарушающей правила Сайта и прав третьих лиц. Компания оставляет за собой право в любой момент удалить или отключить учетную запись Пользователя, а также удалить все размещенные объявления Пользователя, оставив предварительное уведомление Пользователя о таком отключении на свое усмотрение, и не неся при этом ответственность за свои действия перед Пользователем и третьими лицами.
<p>36. Компания не несет ответственности за неисполнение или затруднения в исполнении обязательств по предоставлению доступа к Сайту из-за непредвиденных обстоятельств непреодолимой силы, последствий которых невозможно избежать или преодолеть (таких как решения властей, трудовые споры, несчастные случаи, обрывы в общей системе коммуникаций и т.д.).
<p>37. Компания не несет ответственности за неполадки в работе Сайтов, вызванные техническими перебоями в работе оборудования и программного обеспечения.
<p>38. Бездействие со стороны Компании в случае нарушения Пользователем либо иными пользователями положений Соглашения не лишает Компанию права предпринять соответствующие действия в защиту своих интересов позднее, а также не означает отказа Компании от своих прав в случае совершения в последующем подобных нарушений.
<p>39.  Компания вправе передать Сайт со всеми его сервисами и содержанием, включая личную информацию Пользователей, своему правопреемнику по договорам или иным основаниям. Передача и уведомление Пользователей о такой передаче осуществляется в соответствии с требованиями действующего законодательства Украины.
<p>40. Компания не несет ответственности за поведение Пользователей или за предлагаемые ими публикации/товары/услуги, указанные в размещаемых объявлениях. Все споры и конфликты между Пользователями решаются ими самостоятельно без привлечения Компании.
<p>41. Ничто в Соглашении не может пониматься как установление между Пользователем и Компанией агентских отношений, отношений товарищества, отношений по совместной деятельности, трудовых отношений, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
<p>42. Компания не несет ответственность за рекламу, размещенную на сервисах Сайта, в пределах, установленных применимым законодательством.
<p>43. Компания не несет ответственности за сохранность информации с аккаунта, возможность использования сервисов Сайта, сохранность и возможность использования средств на личном счете Пользователя, в случае блокировки / запрета использования сторонних сервисов, с помощью которых Пользователь осуществляет регистрацию и / или вход на Сайт, находящихся вне контроля Компании.
<p>44. Все объекты и сервисы, доступные при помощи сайта Компании, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, программы для ЭВМ, базы данных, музыка, звуки и другие объекты, размещенные на сервисах Сайта, являются объектами исключительных прав Компании, Пользователей и других правообладателей, а также защищены авторским правом.
<p>45. Использование контента, а также каких-либо иных элементов сервисов возможно только в рамках функционала, предлагаемого тем или иным сервисом Сайта. Никакие элементы содержания сервисов Сайтов, а также любой контент, размещенный на сервисах Сайтов, не могут быть использованы иным образом без предварительного разрешения правообладателя. Под использованием подразумеваются, в том числе, но неисключительно: воспроизведение, копирование, переработка, распространение на любой основе и т.д.
<p>46. Системные сообщения Сайтов, доставляются по электронному адресу, предоставленному Пользователем при регистрации на Сайте. Информационные сообщения, предназначенные для широкого круга Пользователей.
<p>47. При возникновении между Сторонами споров и разногласий по настоящему Соглашению или в связи с ним Стороны обязуются разрешать их путем переговоров. Если какие-либо споры, разногласия или требования, возникающие из настоящего Соглашения, или в связи с ним, в том числе, касающиеся его исполнения, нарушения, прекращения или недействительности, не могут быть разрешены путем переговоров, то эти споры рассматривается в соответствии с действующим законодательством в судебном порядке.
<p>48. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Украины. Вопросы, не урегулированные настоящим Соглашением, подлежат разрешению в соответствии с действующим законодательством Украины. Все возможные споры, вытекающие из отношений, регулируемых настоящим Соглашением, разрешаются в порядке, установленном законодательством Украины, по нормам украинского права.
<p>49. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности или неисполнимости иных положений данного Соглашения.
<p>50. С целью улучшения качества предоставляемых на Сайтах услуг, для соблюдения требований законодательства и реагирования на изменение рыночных условий, это Соглашение может быть изменено Компанией в одностороннем порядке. Новая редакция Соглашения вступает в силу с момента ее на сайте.</p>  
<h2>2. ОБРАБОТКА ИНФОРМАЦИИ О ПОЛЬЗОВАТЕЛЯХ</h2> 
<p>1.  Персональные данные юридических и физических лиц-пользователей сайта dkz.business обрабатываются ООО «ДКЗ ГРУП», юридический адрес: ул. Гагарина, 26, пгт. Соленое, Днепропетровская обл., Украина, 52 400 (далее - Компания). Компания является владельцем Базы персональных данных пользователей dkz.business.
<p>2.  Данная Политика конфиденциальности описывает установленный Компанией порядок обработки персональных данных, собранных с помощью сайта dkz.business. Во всех указанных случаях Компания обрабатывает персональные данные пользователей исключительно в рамках требований Закона Украины «О защите персональных данных» и Конвенции о защите лиц в связи с автоматизированной обработкой персональных данных. Данная Политика конфиденциальности разработана в соответствии с положениями этих документов.
<p>3.  Используя Сайт dkz.business, Пользователь предоставляет своё полное согласие Компании на обработку своих персональных данных, таких как имя пользователя; регион проживания, адрес электронной почты, контактный телефон, другая контактная информация и по желанию пользователя; ip-адреса, другие коммуникационные данные пользователей; сообщения, письма, заявления, передаваемые пользователю другими пользователями и наоборот, а также даёт своё согласие на передачу своих персональных данных третьим лицам, в том числе на передачу персональных данных за границу, в любую третью страну, в соответствии с данной Политикой конфиденциальности и с Пользовательским соглашением сайта dkz.business.
<p>4.  Пользователи должны знать, что при переходе на некоторые ссылки, размещённые на Сайте, они могут быть перенаправлены к сайтам (приложениям и т.д.) других компаний за пределы хостингового пространства Компании, где информация о Пользователях собирается вне прямого контроля Компании. В таком случае Политики конфиденциальности сайтов и/или приложений третьих лиц будут регулировать порядок обработки информации, полученной от пользователей этими третьими лицами.
<p>5.  При создании Пользователем учетной записи на Сайте, Компания может потребовать определенную информацию, такую как действительный адрес электронной почты и пароль. Учетная запись включает в себя такую информацию о них, как географическое расположение, имя и фамилию, номер телефона и сопутствующую информацию, в том числе фотографии и видео, которые они могут загружать в свою учетную запись. Учетная запись позволяет пользователям связываться друг с другом, чтобы выразить заинтересованность в своих предложениях. Пользователи несут ответственность за всю информацию, размещаемую ими в общедоступных учетных записях. Пользователь должен внимательно рассмотреть все риски, связанные с тем, что он делает определённую информацию – в частности, адрес или информацию о месте своего точного расположения - общедоступной.
<p>6.  При обращении Пользователей в отдел обслуживания клиентов, Компания может - в рамках операций своего сайта - собирать личную информацию, необходимую для выполнения запроса Пользователя и получения обратной связи при необходимости. Компания может также связаться с Пользователем, используя существующую контактную информацию учётной записи, предоставленную для этой цели. Компания может также собирать другую информацию об общении с Пользователями, например, любые запросы в службу поддержки, подаваемые Пользователями, или любую обратную связь, предоставляемую ими.
<p>7.  Информация, полученная в результате опросов: Компания может собирать и хранить информацию, которая получена в результате опросов, которые могут проводиться Компанией, или привлеченными Компанией подрядчиками - третьими лицами, а именно информацию относительно пола, возраста, семейного положения, личных предпочтений и др.
<p>8.  Компания может также добавить информацию, законно полученную от деловых партнеров или третьих сторон, к существующим данным Компании о своих пользователях.
<p>9.  В рамках деятельности своего сайта, Компания может собирать определенную информацию с помощью таких технологий как Кукисы (куки, cookies), пиксели (pixels), и локального хранилища (как в Вашем браузере, или мобильном устройстве).
<p>10. С помощью кукис (cookies), веб-сервер может сохранить, например, предпочтения и настройки на компьютере Пользователя, его мобильном телефоне или другом устройстве(ах), которое затем автоматически восстанавливается при следующем посещении. Или, говоря иначе, файлы кукис (cookies) служат, помимо прочего, чтобы сделать использование Сайта более удобным, таким образом, например, чтобы Пользователь не должен был повторять процесс входа в систему при следующем визите. Компания использует как постоянные, так и сессионные куки. Постоянные куки остаются на компьютере Пользователя в течение более длительного периода времени, а сессионные куки автоматически удаляются при закрытии окна браузера.
<p>11. Компания может позволять третьим сторонам, таким как поставщики рекламных и/или аналитических услуг, собирать информацию, используя эти типы технологий непосредственно на веб-странице Сайта или мобильного приложения. Данные, которые они собирают подлежат охране согласно действующим политикам конфиденциальности этих третьих сторон.
<p>12. Для оказания своих услуг Компания может использовать информацию, которую Компания собирает и размещает для следующих целей:
• обеспечение обслуживания клиентов, в том числе для создания и управления учетными записями пользователей, решения технических трудностей и доступа к различным функциям;
• адаптация предложений и опыта, в том числе рекламы на своих сервисах или сервисах третьих лиц;
• контроль общей и индивидуальной активности Пользователей, такой как поиск, по ключевым словам, активности по публикациям, объявлениям и заключений сделок, а также для управления трафиком на Сайте;
• связь с нашими пользователями, в том числе по вопросам сервиса, обслуживания клиентов или разрешенных маркетинговых коммуникаций через любые доступные каналы связи;
• проведение научно-исследовательской и аналитической активности с целью улучшения нашего сервиса; 
• обеспечение соблюдения Пользовательского соглашения сервисов dkz.business, включая борьбу с мошенничеством и оскорблениями;
• оценка некоторых факторов личной информации, в частности, для анализа и прогнозирования личных предпочтений, интересов, поведения или местонахождения.
• Компания может сохранять информацию, которую она собирает и получает на своем Сайте так долго, как-то требуется для выполнения вышеуказанных деловых целей.
<p>13. Компания может использовать сторонних поставщиков услуг для предоставления некоторых составляющих своих услуг, в таких случаях поставщики не имеют полномочий использовать полученные при помощи Сайта Компании персональные данные, иначе, нежели для предоставления услуг Компании, а сами персональные данные являются предметом этой Политики Конфиденциальности.
<p>14. Компания оставляет за собой право в соответствии с требованиями законодательства обмениваться информацией с частными лицами и государственными органами в следующих целях:
• борьбы с мошенничеством и злоупотреблениями на Сайте;
• расследования предполагаемых нарушений закона или борьбы с любыми другими предполагаемыми нарушениями Пользовательского соглашения сайта dkz.business Пользователями.
<p>15. Компания может предоставлять персональные данные пользователей на запросы компетентных органов, оформленных в соответствии с требованиями законодательства, в том числе согласно ст. 93 Уголовного процессуального кодекса Украины.
<p>16. В соответствии с Политикой конфиденциальности, Компания обязуется не передавать в аренду или продавать любые персональные данные Пользователя. В случае если бизнес Компании или часть этого бизнеса будут проданы или реорганизованы, и Компания передает все, или практически все свои активы новому владельцу, то персональные данные пользователей могут быть переданы покупателю, чтобы обеспечить непрерывность обслуживания Сайта,
<p>17. Компания может передавать определенную обезличенную информацию (данные, которые не позволяют идентифицировать Пользователей по отдельности) сторонним поставщикам услуг, доверенным партнерам или авторизованным исследователям в целях лучшего понимания, какая реклама или услуги могут заинтересовать Пользователей, улучшения общего качества и эффективности услуг на Сайте или сервиса, или для обеспечения своего вклада в научные исследования, которые, по мнению Компании, могут приносить большие социальные блага.
<p>18. Компания может передавать информацию, которую она собирает, третьим лицам, которые предоставляют услуги Компании, с целью проведения исследований, или предоставления сервисов Пользователям, при этом данные, которые передаются, является предметом этой Политики конфиденциальности, а привлеченные третьи лица не имеют права использовать полученную информацию иначе, нежели для предоставления услуг Компании.
<p>19. В случаях передачи персональных данных, информирование Пользователя о передаче его персональных данных остается на усмотрение Компании.
<p>20. Пользователи, которые создали учётную запись, разместили публикацию/объявление/заявку на Сайте, могут получать доступ, исправлять или удалять информацию, которую они предоставляют. Пользователь несет ответственность за точность предоставляемых данных, или сообщений на Сайте. Размещенная информация может быть изменена или удалена в личном кабинете пользователя.
<p>21. Кукис (Cookies): Большинство основных компьютерных (десктопных) и мобильных веб-браузеров (например, Safari, Firefox, Internet Explorer, Chrome, Opera) обеспечивают элементы управления, которые позволяют пользователю ограничить или заблокировать установку Кукис (Cookies) на ваших системах. Обратите внимание, что отключение Кукис (Cookies) в отношении доменов первой категории (посещаемых сайтов) и других доменов (сайтов, связанных с посещаемыми) может привести в некоторых случаях к ограниченной функциональности этих веб-сайтов.
<p>22. Вся информация, которую мы собираем в разумных пределах защищена техническими средствами и процедурами обеспечения безопасности в целях предотвращения несанкционированного доступа или использование данных. Аффилированные с Компанией лица, надёжные партнеры и сторонние поставщики услуг обязуются использовать полученную от Компании информацию в соответствии с нашими требованиями к безопасности и этой Политикой Конфиденциальности.
<h2>3. СРОК ДЕЙСТВИЯ СОГЛАШЕНИЯ</h2>  
<p>1.  Настоящее Соглашение вступает в силу с момента регистрации и начала использования Пользователем Сайта действует бессрочно.
<p>2.  Пользователь имеет право прекратить свою регистрацию на Сайте в одностороннем порядке, без предварительного уведомления об этом Компании и объяснения причин.
<p>3.  В случае если Компанией были внесены какие-либо изменения в Соглашение и Пользователь не согласен, он обязан прекратить использование сервисов Сайта. Факт не прекращения использования Сайтов является подтверждением согласия Пользователя с соответствующей редакцией Соглашения.
<p>4.  Расторжение Соглашения со стороны Компании может произойти в случаях:
• Нарушения положений данного Соглашения, нанесения любого вреда Компании, в том числе её репутации, или пользователям DKZ.BUSINESS;
• Совершения других действий, которые противоречат политике Компании;
<p>5.  Правоотношения могут быть возобновлены только после принятия администрацией Компании соответствующего решения.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>