<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-7" style="">
			<div class="mainImg">
				<p class="topp"><a href="/">DKZ</a></p>
				<P class="leftp">INTERNATIONAL</P><P class="midp">
				<a href="/">BUSINESS</a></P>
				<P class="rightp">DEPARTMENT</P>
			</div>
			<ul id="mainscroll" class="list-inline" style="font-size: 15px;text-align: center;display:none;">
				<li class="list-inline-item"><a href="#about">{lang->get key='About as'}</a></li>
				<li class="list-inline-item"><a href="#prez">{lang->get key='Presentation'}</a></li>
				<li class="list-inline-item"><a href="#reg">{lang->get key='Sing In'}/{lang->get key='Registration'}</a></li>
			</ul>	
			
			<div class="pz vp vy afo">
				<div class="qa">
					{include file=$content}
				</div>
			</div>
				
		</div>
		
	</div>
</div>