{if $user.type=='comp'}
	<form  action="/?action=dkz/settings/update" method="post" id="UserSettingsForm">
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputEmail">{lang->get key='Email'}</label>
			<div class="col-sm-8">	
				<input autocomplete="off" class="form-control {if isset($errors.email)}is-invalid{/if}" value="{if isset($user.email)}{$user.email}{/if}" id="inputEmail" name="email" 
				placeholder="{lang->get key='Emai'}l" required type="email">
			<div id="err_inputEmail" class="invalid-feedback">{if isset($errors.email)}{$errors.email}{/if}</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPassword">{lang->get key='New password'}</label>
			<div class="col-sm-8">	
				<input autocomplete="new-password" type="password" id="inputPassword" class="form-control {if isset($errors.password)}is-invalid{/if}" id="reg_pass" 
				placeholder="{lang->get key='Password'}" name="password">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPasswordConfirm">{lang->get key='New password confirm'}</label>
			<div class="col-sm-8">	
				<input autocomplete="new-password" type="password" id="inputPasswordConfirm" class="form-control {if isset($errors.password)}is-invalid{/if}" id="reg_pass" 
				placeholder="{lang->get key='Password'}" name="password_confirm">
				<div id="err_inputPassword" class="invalid-feedback">{if isset($errors.password)}{$errors.password}{/if}</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputfirstName">{lang->get key='First name'}</label>
			<div class="col-sm-8">	
				<input id="inputfirstName" class="form-control" name="first_name" value="{if isset($user.first_name)}{$user.first_name}{/if}"  placeholder="Ivan" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputLastName">{lang->get key='Last name'}</label>
			<div class="col-sm-8">	
				<input id="inputLastName" class="form-control" name="last_name" value="{if isset($user.last_name)}{$user.last_name}{/if}" placeholder="Ivanov" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputStatComp">{lang->get key='Company status'}</label>
			<div class="col-sm-8">	
				<input id="inputStatComp" class="form-control" name="stat_comp"  value="{if isset($user.stat_comp)}{$user.stat_comp}{/if}" placeholder="OOO" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputCompanyName">{lang->get key='Company name'}</label>
			<div class="col-sm-8">	
				<input id="inputCompanyName" class="form-control" placeholder="{lang->get key='Company name'}" value="{if isset($user.company_name)}{$user.company_name}{/if}"  name="company_name" required type="text">  
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputDirectionOfactivity">{lang->get key='Direction of activity'}</label>
			<div class="col-sm-8">	
				<input id="inputDirectionOfactivity" class="form-control" name="activity" value="{if isset($user.activity)}{$user.activity}{/if}" 
				placeholder="{lang->get key='Direction of activity'}" required="required">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPositionInCompany">{lang->get key='Position in Company'}</label>
			<div class="col-sm-8">
				<input id="inputPositionInCompany" class="form-control" name="position" value="{if isset($user.position)}{$user.position}{/if}" 
				placeholder="{lang->get key='Position in Company'}" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" type="text">
			</div>
		</div>
		<!--div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputCountry">{lang->get key='Country'}</label>
			<div class="col-sm-8">
				<input id="inputCountry" class="form-control" name="country" value="{if isset($user.country)}{$user.country}{/if}" 
				placeholder="{lang->get key='Country'}" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{3,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputCity">{lang->get key='City'}</label>
			<div class="col-sm-8">
				<input id="inputCity" class="form-control" name="city" value="{if isset($user.city)}{$user.city}{/if}" 
				placeholder="{lang->get key='City'}" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{3,20}{/literal}" type="text">
			</div>
		</div-->
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPhone">{lang->get key='Phone'}</label>
			<div class="col-sm-8">	
				<input id="inputPhone" class="form-control" placeholder="{lang->get key='Phone'}" value="{if isset($user.phone_number)}{$user.phone_number}{/if}" name="phone_number" pattern="{literal}[8-10]{7,13}{/literal}">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputlang">{lang->get key='Profile language'}</label>
			<div class="col-sm-8">	
				<select name="language" id="inputlang" class="form-control {if isset($errors.language)}is-invalid{/if}">
					{foreach from=$languages item=item key=k}
					<option {if isset($user.language) && $user.language==$item.code}selected="true"{/if} value="{$item.code}">{$item.title}</option>
					{/foreach}
				</select>
			</div>
		</div>
		
		<input type="hidden" value="comp" name="type">
		<button type="submit" id="updSettingsBtn" class="btn btn-info">{lang->get key='Save'}</button>
	</form>
	
{/if}
{if $user.type=='individ'}
<form  action="/?action=dkz/settings/update" method="post" id="UserSettingsForm">
	
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputEmail">{lang->get key='Email'}</label>
			<div class="col-sm-8">	
				<input autocomplete="off" class="form-control {if isset($errors.email)}is-invalid{/if}" value="{if isset($user.email)}{$user.email}{/if}" id="inputEmail" name="email" 
				placeholder="{lang->get key='Email'}" required type="email">
			<div id="err_inputEmail" class="invalid-feedback">{if isset($errors.email)}{$errors.email}{/if}</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPassword">{lang->get key='New password'}</label>
			<div class="col-sm-8">	
				<input autocomplete="new-password" type="password" id="inputPassword" class="form-control {if isset($errors.password)}is-invalid{/if}" id="reg_pass" 
				placeholder="{lang->get key='Password'}" name="password">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPasswordConfirm">{lang->get key='New password confirm'}</label>
			<div class="col-sm-8">	
				<input autocomplete="new-password" type="password" id="inputPasswordConfirm" class="form-control {if isset($errors.password)}is-invalid{/if}" id="reg_pass" 
				placeholder="{lang->get key='Password'}" name="password_confirm">
				<div id="err_inputPassword" class="invalid-feedback">{if isset($errors.password)}{$errors.password}{/if}</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputfirstName">{lang->get key='First name'}</label>
			<div class="col-sm-8">
				<input id="inputfirstName" class="form-control" name="first_name" value="{if isset($user.first_name)}{$user.first_name}{/if}" placeholder="Ivan" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" autocomplete="new-first_name" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputLastName">{lang->get key='Last name'}</label>
			<div class="col-sm-8">
				<input id="inputLastName" class="form-control" name="last_name" value="{if isset($user.last_name)}{$user.last_name}{/if}" placeholder="Ivanov" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{2,20}{/literal}" autocomplete="new-last_name" type="text">
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputProfessionalOfactivity">{lang->get key='Professional of activity'}</label>
			<div class="col-sm-8">
				<input id="inputProfessionalOfactivity" class="form-control" name="activity" value="{if isset($user.activity)}{$user.activity}{/if}"
				placeholder="{lang->get key='Professional of activity'}" required="required">
			</div>
		</div>
		
		<!--div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputCountry">{lang->get key='Country'}</label>
			<div class="col-sm-8">
				<input id="inputCountry" class="form-control" name="country" value="{if isset($user.country)}{$user.country}{/if}" 
				placeholder="{lang->get key='Country'}" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{3,20}{/literal}" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputCity">{lang->get key='City'}</label>
			<div class="col-sm-8">
				<input id="inputCity" class="form-control" name="city" value="{if isset($user.city)}{$user.city}{/if}" 
				placeholder="{lang->get key='City'}" required="required" pattern="{literal}[A-Za-zА-Яа-яЁё\s]{3,20}{/literal}" type="text">
			</div>
		</div-->
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputPhone">{lang->get key='Phone'}</label>
			<div class="col-sm-8">
			<input id="inputPhone" class="form-control" placeholder="{lang->get key='Phone'}" name="phone_number" value="{if isset($user.phone_number)}{$user.phone_number}{/if}" pattern="{literal}[8-10]{7,13}{/literal}">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label" for="inputlang">{lang->get key='Profile language'}</label>
			<div class="col-sm-8">	
				<select name="language" id="inputlang" class="form-control {if isset($errors.language)}is-invalid{/if}">
					{foreach from=$languages item=item key=k}
					<option {if isset($user.language) && $user.language==$item.code}selected="true"{/if} value="{$item.code}">{$item.title}</option>
					{/foreach}
				</select>
			</div>
		</div>
		
		 <input type="hidden" value="individ" name="type">
		<button type="submit" id="updSettingsBtn" class="btn btn-info">{lang->get key='Save'}</button>
	</form>
{/if}
