<h5 class="afh">{lang->get key='Sign In'}</h5>
<form action="/?action=dkz/singin" method="post">
	<div class="form-row">
		<div class="form-group col-lg-12 col-xl-4">
			<input type="email" name="login" class="form-control {if isset($errors.login)}is-invalid{/if}" id="inputEmail" placeholder="Email">
			{if isset($errors.login)}	
			<div class="invalid-feedback">
			  {$errors.login}
			</div>
			{/if}
		</div>
		<div class="form-group col-lg-12 col-xl-4">
			<input type="password" name="password" class="form-control {if isset($errors.pass)}is-invalid{/if}" id="inputPassword" placeholder="Password">
			{if isset($errors.pass)}	
			<div class="invalid-feedback">
			  {$errors.pass}
			</div>
			{/if}
		</div>
		<div class="form-group col-lg-12 col-xl-4">
		<button type="submit" class="btn btn-primary">{lang->get key='Sign In'}</button>
		</div>
		
	</div>
</form>