<link rel="stylesheet" type="text/css" href="{$currentPatch}/css/dropzone.css">
<div class="add_ust_dok">
	<h2>

</h2>
<div id="filereg" class="dropzone">
  </div>
  <div class="preview">
  	
  </div>
<div style="padding: 20px">
 <a href="/?action=dkz/register/waitmoder"><button class="allbtn">ПОДТВЕРДИТЬ</button></a>
</div>
</div>
<script src="{$currentPatch}/js/dropzone.js"></script>
<script src="{$currentPatch}/js/byreg.js"></script>