<small class="acx axc">
	 <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0;">
	  <ul class="navbar-nav linkspost">
		<li class="nav-item">
		
			<a class="nav-link" target="_blank" style="padding-top: 0px;" 
			href="{if isset($model)}/?action=dkz/post/&model={$model}&post={$item.id}{else}javascript:void(0);{/if}">
			{if isset($model)}
			{if $model=='mynews' || $model=='forumnews'}	
				{$item.time_news|date_format}
			{else}
				{$item.vremya|date_format}	
			{/if}	
			{/if}	
			{if isset($event.model)}
				{if $event.model=='mynews' || $event.model=='forumnews'}	
					{$item.time_news|date_format}
				{else}
					{$item.vremya|date_format}	
				{/if}	
			{/if}	
			</a>
		
			
		</li>
		
      </ul>
	 </nav>
 </small>
 