
 <img
	class="bos vb yb aff"
	src="{$autors[$item.user_id].fotoprof}">
	
  <div class="rw">
	<div class="bpb">
	 {include file="boxes/links.post.html"}
	  <h6><a href="/?action=dkz/user&id={$item.user_id}" style="color: inherit;">
		{if isset($whoOnline[$item.user_id])}
		<span aria-label="Сейчас в сети" style="background: rgb(66, 183, 42) none repeat scroll 0% 0%; border-radius: 50%; display: inline-block; height: 6px; margin-right: 4px; margin-top:20px; width: 6px;"></span>
		{/if}
	  {$autors[$item.user_id].first_name} {$autors[$item.user_id].last_name}</a></h6>
	</div>

	<p>
	  {$item.news}
	</p>
 
 
{if $item.image}
	<div class="boy" data-grid="images" style="margin-left: -35px;margin-top: 45px;">
	  <div style="display: none">
		<img data-action="zoom" data-width="1050" data-height="700" src="{$item.image}">
	  </div>

	  <!--div style="display: none">
		<img data-action="zoom" data-width="640" data-height="640" src="img/instagram_1.jpg">
	  </div>

	  <div style="display: none">
		<img data-action="zoom" data-width="640" data-height="640" src="img/instagram_13.jpg">
	  </div>

	  <div style="display: none">
		<img data-action="zoom" data-width="1048" data-height="700" src="img/unsplash_2.jpg">
	  </div-->
	</div>
{/if}
	
</div>	

