 <img
	class="bos vb yb aff"
	src="{$autors[$item.user_id].fotoprof}">
  <div class="rw">
	<div class="bpb">
	  {include file="boxes/links.post.html"}
	  <h6><a href="/?action=dkz/user&id={$item.user_id}" style="color: inherit;">
		{if isset($whoOnline[$item.user_id])}
		<span aria-label="Сейчас в сети" style="background: rgb(66, 183, 42) none repeat scroll 0% 0%; border-radius: 50%; display: inline-block; height: 6px; margin-right: 4px; margin-top:20px; width: 6px;"></span>
		{/if}
	  {$autors[$item.user_id].first_name} {$autors[$item.user_id].last_name}</a></h6>
	</div>
	<table class="table" id="orders">
		<tr>
			<td><b>{$item.dedline}</b></td>
			<td><b>{$item.type}</b><small class="form-text text-muted">{$item.vidtr}</small></td>
			<td><b>{$item.description}</b><small class="form-text text-muted">{$item.price} UAH</small></td>
			<td><b>{$item.ves} кг</b></td>
		</tr>
	</table>
	
  </div>