<script type="text/javascript" src="{$currentPatch}js/claims.js"></script>
<div id="contentAdminLangSetting">
	<h4>{$currentAction.title}</h4>
	<div id="messageBlock">
		message content
	</div>
<ul class="nav nav-tabs" >
{foreach from=$models item=item key=model name=foo1}
  <li {if $smarty.foreach.foo1.first}class="active"{/if}>
	<a id="{$model}-tab" data-toggle="tab" href="#{$model}" >{$item.title} ({$item.cnt})</a>
  </li>
{/foreach}  
</ul>
<div class="tab-content">
	{foreach from=$models item=item key=model name=foo2}
	<div class="tab-pane {if $smarty.foreach.foo2.first}active{/if}" id="{$model}" >
		{if isset($dataForTable[$model]) && $models[$model].cnt>0}
			<table class="table">
				<tr>
					<th>Автор публикации</th>
					<th>Кол-во жалоб</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				{foreach from=$dataForTable[$model] item=claims key=event_id}
				{assign var='autor_id' value=$events[$model][$event_id].user_id}
					<tr id="container_{$event_id}_{$model}">
						<td>{$users[$autor_id].last_name} {$users[$autor_id].first_name}</td>
						<td>{$claims.cnt}</td>
						<td>
						<button class="btn btn-primary btn" data-toggle="modal" data-target="#postModal_{$event_id}_{$model}">
							Посмотреть публикацию
							</button>
						
						<!-- postModal_{$event_id}_{$model} -->
							<div class="modal fade" id="postModal_{$event_id}_{$model}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Публикация {$users[$autor_id].last_name} {$users[$autor_id].first_name}</h4>
								  </div>
								  <div class="modal-body">
									<ul class="ca bow box afo">
										<li class="rv b agz">
										{if $model=='custom'}
											{include file='boxes/list.post.customs.html' item=$events[$model][$event_id] model=$model autors=$users}
										{/if}	
										{if $model=='vizitki'}
											{include file='boxes/list.post.media.html' item=$events[$model][$event_id] model=$model autors=$users}
										{/if}	
										{if $model=='product'}
											{include file='boxes/list.post.product.html' item=$events[$model][$event_id] model=$model autors=$users}
										{/if}	
										{if $model=='transport'}
											{include file='boxes/list.post.transport.html' item=$events[$model][$event_id] model=$model autors=$users}
										{/if}	
										{if $model=='forumnews'}
											{include file='boxes/list.post.default.html' item=$events[$model][$event_id] model=$model autors=$users}
										{/if}	
										{if $model=='mynews'}
											{include file='boxes/list.post.default.html' item=$events[$model][$event_id] model=$model autors=$users}
										{/if}	
										
										
										</li>
									</ul>
								  </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
									</div>
								</div>
							  </div>
							</div>
						
						</td>
						<td>
							<button class="btn btn-primary btn" data-toggle="modal" data-target="#claimModal_{$event_id}_{$model}">
							Посмотреть жалобы
							</button>
							<!-- claimModal_{$event_id}_{$model} -->
							<div class="modal fade" id="claimModal_{$event_id}_{$model}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Жалобы на публикацию {$users[$autor_id].last_name} {$users[$autor_id].first_name}</h4>
								  </div>
								  <div class="modal-body">
									<table class="table">
										<tr>
											<th>Дата</th>
											<th>Автор</th>
											<th>Текст жалобы</th>
										</tr>
										{foreach from=$claims.claims item=claim key=k}
										<tr>
											<td>{$claim.created_at|date_format:"%d.%m.%Y"}</td>
											<td>{$users[$claim.user_id].last_name} {$users[$claim.user_id].first_name}</td>
											<td>{$claim.text}</td>
										</tr>
										{/foreach}
									</table>
								  </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
									</div>
								</div>
							  </div>
							</div>
						</td>
						<td>
							<select class="form-control" name="claimAction" id="claimAction" event_id="{$event_id}" model="{$model}" autor_id="{$autor_id}">
								<option value="empty">Выбрать действие...</option>
								<option value="ban">Заблокировать автора</option>
								<option value="del">Удалить публикацию</option>
								<option value="ban_del">Заблокировать автора и удалить публикацию</option>
								<option value="ignore">Игнорировать</option>
							</select>	
						</td>
						
					</tr>
				{/foreach}
			</table>
		{else}
			<h6>No data available</h6>
		{/if}
	</div>
	{/foreach}
</div>	
</div>	
{literal}
 <style>
 .bow {
    padding-left: 0;
    list-style: none;
	}
.afo, .afl {
    margin-bottom: 1.5rem !important;
}	
.ca {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.box .rv.b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
}
.b:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.b:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.rw {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.rv, .rw {
    overflow: visible;
}
.agz {
    padding: 1.5rem !important;
}
.b {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.rv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@media (min-width: 576px)
.box .bos {
    width: 60px;
    height: 60px;
}
.box .bos {
    border-radius: 100%;
}
.box .bos {
    width: 42px;
    margin-right: 5px;
}
.aff, .afg {
    margin-right: 1rem !important;
}
.yb {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}
.vb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.axc {
    color: #6c757d !important;
}
.acx {
    float: right !important;
}
small, .da {
    font-size: 80%;
    font-weight: 400;

 </style>
 {/literal}