<script type="text/javascript" src="{$currentPatch}js/langSetting.js"></script>
<div id="contentAdminLangSetting">
	<h4>{$currentAction.title}</h4>
	<div id="messageBlock">
		message content
	</div>
	<form role="form" id="addDataLang">
	<table class="table">
	<tr>
		<td><input class="form-control" type="text" name="DataLang[INSERT][0][lang_val_id]" placeholder="{$txt.txt_add} {$txt.txt_lang_val_id}"></td>
		{foreach from=$dataForTable.LangDataPerID key=k item=DataPerID}
		<td><input class="form-control" type="text" name="DataLang[INSERT][0][{$DataPerID.id}]" placeholder="{$txt.txt_add} {$DataPerID.code}"></td>
		{/foreach}
		<td>	
		<button type="button" 
				id="addDataLangBtn" 
				class="btn btn-primary">{$txt.txt_add}</button>
		</td>	
	</tr>
	</table>
	</form>
	<table class="table">
		<tr>
			<th>{$txt.txt_lang_val_id}</th>
			{foreach from=$dataForTable.LangDataPerID key=k item=DataPerID}
			<th>{$DataPerID.title} ({$DataPerID.code})</th>
			{/foreach}	
		</tr>
		<tr>
			<td><input class="form-control" id="filterLangTable" byParam="lang_val_id" type="text" name="SearchByLangValID" placeholder="{$txt.txt_search_by_lang_val_id}"></td>
			{foreach from=$dataForTable.LangDataPerID key=k item=DataPerID}
			<td><input class="form-control" byParam="{$DataPerID.code}" id="filterLangTable" type="text" name="SearchBy{$DataPerID.code}" placeholder="{$txt.txt_search_by} {$DataPerID.code}"></td>
			{/foreach}	
		</tr>
		<tbody id="dataLangTable">
		
		</tbody>
	</table>
</div>