{literal}
<script type="text/javascript">
	usersRole = {/literal}{$usersRole_json}{literal};
	
</script>
{/literal}
<script type="text/javascript" src="{$currentPatch}js/users.js"></script>
<div id="contentAdminUsers">
	<h4>{$currentAction.title}</h4>
	<div id="messageBlock"></div>
	
	<table class="table table-hover table-bordered table-striped">
		<tr>
			<th>#</th>
		
			<th>{$txt.user_fname}</th>
			<th>{$txt.user_lname}</th>
			<th>{$txt.user_email}</th>
			<th>{$txt.user_role}</th>
			
			<th>{$txt.user_active}</th>
			<th></th>
			<th></th>
		</tr>
		{foreach from=$users key=k item=user}
			<tr>
				<td>{$k+1}</td>
				
				<td>{$user.first_name}</td>
				<td>{$user.last_name}</td>
				<td>{$user.email}</td>
				<td>{$usersRole[$user.level]}</td>
				
				<td>
				{if $user.level!=99}{$txt.yes}{else}{$txt.no}{/if}
				</td>
				<td>
				<a data-toggle="modal" 
				data-target="#modalAdminUsers" 
				href="#" 
				id="editAdminUsers" 
				userID="{$user.id}">{$txt.txt_edit}</a>
				</td>
				<td>
				<a  
				href="#" 
				id="delAdminUsers" 
				userID="{$user.id}">{$txt.txt_delete}</a>
				</td>
			</tr>
		{/foreach}
		</table>
</div>
<!-- Modal modalAdminUsers-->
<div class="modal fade" id="modalAdminUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> </h4>
      </div>
      <div class="modal-body">
			
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{$txt.txt_close}</button>
        <button type="button" id="saveAdminUsersBtn" class="btn btn-primary">{$txt.txt_save}</button>
      </div>
    </div>
  </div>
</div>