/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
#messageBlock{
	padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 8px;
    background: chartreuse;
    width: 400px;
    margin: 10px;
	display:none;
}
#langSelect{
	font-size: 10px;
    padding: 0;
    height: 20px;
}
header{
    height: 80px;
    background-color: #fff;
}
header #top_panel{
	height: 50px;
    background-color: #2f4050;
}
header #top_panel div{
float:left; display:inline-block;
 color: #fff;
 font: 14px 'OpenSansSemiBold';
}
header #top_panel a{color: #fff; font: 14px 'OpenSansLight';}

header #top_panel #title{
	width: 200px;
    background-color: #1c84c6;
    position: relative;
    height: 50px;
    font: 16px 'OpenSansExtraBold';
   
    padding: 10px 0px 0px 30px;
}
header #top_panel #other{float:right;}
header #top_panel #menu ul {margin: 0;}
header #top_panel #menu ul li{padding: 13px 10px 0px 12px;height: 50px; position: relative;}
header #top_panel #menu ul li.active{background-color:#1c2630}
header #top_panel #menu ul li:hover{background-color:#1c2630}
header #top_panel #menu ul li.first a{font: 16px 'OpenSansLight';}
header #top_panel #menu a#console{
	background: url(../img/console_img.png) no-repeat 0px 0px;
	padding-left: 27px;
	}
header #top_panel #menu a#calls{
	background: url(../img/calls_img.png) no-repeat 0px 0px, url(../img/menu_arrow_img.png) no-repeat 80px 3px;
    padding-left: 27px;
    padding-right: 15px;
    
	}
header #top_panel #menu a#project{
	background-image: url(../img/project_img.png);
    background-repeat: no-repeat;
    padding-left: 27px;
    background-position-y: 0px;
	}
header #top_panel #menu a#project_supervisor{
	background: url(../img/project_img.png) no-repeat 0px 0px, url(../img/menu_arrow_img.png) no-repeat 90px 3px;
	padding-left: 27px;
    padding-right: 15px;
    }
header #top_panel #menu a#queues{
	background-image: url(../img/queues_img.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: 0px;
	}
header #top_panel #menu a#operators{
	background-image: url(../img/operators_img.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: 0px;
	}
header #top_panel #menu a#reports{
	background: url(../img/menu_arrow_right_img.png) no-repeat 91px 3px;
   }	
header #top_panel #menu ul#child0{
	list-style:none;
	position:absolute;
	left:-9999px; 
	opacity:0; 
	-webkit-transition:0.25s linear opacity;
	background-color: #2f4050;	
	width: 100%;
	padding: 0;
	z-index: 999;
}
header #top_panel #menu ul#child0 li{
padding: 10px 20px 0px 20px;height: 50px; position: relative; float:none;
}
header #top_panel #menu ul#child0 a{
	white-space:nowrap;
	display:block;
}
header #top_panel #menu ul li:hover ul#child0{
	left: 0;
    opacity: 1;
    top: 50px;
}
header #top_panel #menu ul#child1{
	list-style:none;
	position:absolute;
	left:-9999px; 
	opacity:0; 
	-webkit-transition:0.25s linear opacity; 
	background-color: #2f4050;
	padding: 0;
	z-index: 999;
	
}	
header #top_panel #menu ul#child0 li:hover ul#child1{
	left: 144px;
    opacity: 1;
    top: 0px;
}
header #top_panel #other ul li#exit{padding: 10px 20px 0px 30px;vertical-align:top;}
header #top_panel #other ul li#clock{font: 27px 'OpenSansLight';}

header #top_panel #other li#exit a{
	background-image: url(../img/exit_img.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: 0px;
	}
#contentAdminUsers table tr th,
#contentAdminLangSetting table tr th,
#contentAdminProjects table tr th
{ font: 13px 'OpenSansBold';color:#676a6c;background-color: #fff; border:1px solid #e5e6e7;}


#contentAdminLangSetting table tr td,
#contentAdminUsers table tr td,
#contentAdminProjects table tr td
{font: 13px 'OpenSansRegular';color:#676a6c;border:1px solid #e5e6e7;}

#contentAdminLangSetting table tr td a,
#contentAdminUsers table tr td a,
#contentAdminProjects table tr td a
{font: 13px 'OpenSansRegular';color:#676a6c;}

#contentAdminLangSetting table tr td a:hover,
#contentAdminUsers table tr td a:hover,
#contentAdminProjects table tr td a:hover
{color:#428bca; text-decoration:none;}

#contentAdminLangSetting,
#contentAdminUsers,
#contentAdminProjects
{
	padding: 30px;
    float: left;
    position: relative;
    width: 97%;
    margin: 20px;
    background-color: #fff;
    padding: 20px 30px 25px 30px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}


#contentAdminLangSetting h4,
#contentAdminUsers h4,
#contentAdminProjects h4
{
color:#676a6c; font: 24px 'OpenSansLight';
margin-bottom: 20px;
}


#modalAdminUsers  h4,
#modalAdminProject  h4
{
 font: 13px 'OpenSansSemibold';
 color:#676a6c;
}
#modalAdminUsers .modal-body,
#modalAdminProject .modal-body
{
	background-color: #f3f3f4;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 8px;
    width: 87%;
}
#modalAdminUsers .modal-body,
#modalAdminProject .modal-body
{
	margin: 19px 35px;
}
#modalAdminUsers .modal-body  label,
#modalAdminProject .modal-body  label
{
	font: 12px 'OpenSansBold';
 color:#676a6c;
}
#modalAdminUsers .modal-body  input,
#modalAdminProject .modal-body  input
{
	font: 13px 'OpenSansRegular';
 color:#888888;
}
#modalAdminUsers .modal-body p
{
	font: 11px 'OpenSansRegular';
    color: #888888;
    text-align: center;
}
#modalAdminProject .modal-body  #changeSvrBox,
#modalAdminUsers .modal-body  #changeSvrBox
{
	margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}